<link rel="stylesheet" href="css/footer.css">

<div class="fluid-container" id="footer">
	<div class="row">
		<div class="col-lg-9" id="contacts">
			<div id="title">CONTACT US</div>
			<hr class="f-underline">
			<div class="row">
				<div class="col-md-3">
					<div class="subtitle">
						Queries
					</div>
					<li class="text">Karthikeya : 9629911136</li>
					<li class="text">Pavan Reshmanth : 9787868002</li>
				</div>
				<div class="col-md-3">
					<div class="subtitle">
						Events
					</div>
					<li class="text">Hanish : 7732080413</li>
					<li class="text">Chandana : 8919126987</li>
				</div>
				<div class="col-md-3">
					<div class="subtitle">
						Guest Lectures
					</div>
					<li class="text">Anudeep : 7010069052</li>
				</div>
				<div class="col-md-3">
					<div class="subtitle">
						Workshops
					</div>
					<li class="text">Monika : 9629916090</li>
					<li class="text">Sandesh : 7981274726</li>
				</div>
			</div>
			<div class="row social-media">
				<div class="col-lg-9">
					<div>
						<ul>
							<li class="subtitle">
								Visit Us :
							</li>
		          <li>
		              <a href="https://www.facebook.com/momentsnittrichy/" title="facebook">
		                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
		              </a>
		          </li>
			        <li>
			            <a href="https://www.linkedin.com/company/civil-engineering-association-nittrichy/" title="linkedin">
			                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
			            </a>
			        </li>
						</ul>
				</div>
      </div>
			</div>
		</div>

		<div class="col-lg-3" id="quick-links">
			<div id="title">
				QUICK LINK
			</div>
			<hr class="f-underline d-flex justify-content-start">
			<span class="arrow"></span>
			<div class="ql-text"><a href="/home">Home</a></div>
			<br>
			<span class="arrow"></span>
			<div class="ql-text"><a href="/workshops">Workshops</a></div>
			<br>
			<span class="arrow"></span>
			<div class="ql-text"><a href="/events">Events</a></div>
			<hr>
		</div>
	</div>
</div>
