<link rel="stylesheet" href="css/footer.css">

<div class="fluid-container" id="footer">
	<div class="row">
		<div class="col-lg-9" id="contacts">
			<div id="title">CONTACT US</div>
			<hr class="f-underline">
			<div class="row">
				<div class="col-md-4">
					<div class="subtitle">
						Workshops
					</div>
					<li class="text">Name : 255232685</li>
					<li class="text">Name : 255232685</li>
				</div>
				<div class="col-md-4">
					<div class="subtitle">
						Events
					</div>
					<li class="text">Varshini : +91 6302870332</li>
					<li class="text">Lokeswari : +91 9790487556</li>
				</div>
				<div class="col-md-4">
					<div class="subtitle">
						Guest Lectures
					</div>
					<li class="text">Name : 255232685</li>
					<li class="text">Name : 255232685</li>
				</div>
			</div>
		</div>

		<div class="col-lg-3" id="quick-links">
			<div id="title">
				QUICK LINK
			</div>
			<hr class="f-underline d-flex justify-content-start">
			<span class="arrow"></span>
			<div class="ql-text"><a href="/home">Home</a></div>
			<br>
			<span class="arrow"></span>
			<div class="ql-text"><a href="/workshops">Workshops</a></div>
			<br>
			<span class="arrow"></span>
			<div class="ql-text"><a href="/events">Events</a></div>
			<hr>
		</div>
	</div>
</div>
