<link rel="stylesheet" href="css/footer.css">

<div class="fluid-container" id="footer">
	<div class="row">
		<div class="col-lg-9" id="contacts">
			<div id="title">CONTACT US</div>
			<hr class="f-underline">
			<div class="row">
				<div class="col-md-4">
					<div class="subtitle">
						Queries
					</div>
					<li class="text">Navya : 8374130088</li>
					<li class="text">Goutham : 7013242045</li>
					<li class="text">Rakhshan : 8825500907</li>
				</div>
				<div class="col-md-4">
					<div class="subtitle">
						Events
					</div>
					<li class="text">Kumaresan : 865845403</li>
					<li class="text">Karthik : 9381290771</li>
				</div>
				<div class="col-md-4">
					<div class="subtitle">
						Workshops
					</div>
					<li class="text">Uday : 6303868770</li>
					<li class="text">Neeraj : 9908166747</li>
				</div>
			</div>
			<div class="row social-media">
				<div class="col-lg-9">
					<div>
						<ul>
							<li class="subtitle">
								Visit Us :
							</li>
		          <li>
		              <a href="https://www.facebook.com/momentsnittrichy/" title="facebook">
		                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
		              </a>
		          </li>
			        <li>
			            <a href="https://www.linkedin.com/company/civil-engineering-association-nittrichy/" title="linkedin">
			                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
			            </a>
			        </li>
						</ul>
				</div>
      </div>
			</div>
		</div>

		<div class="col-lg-3" id="quick-links">
			<div id="title">
				QUICK LINK
			</div>
			<hr class="f-underline d-flex justify-content-start">
			<span class="arrow"></span>
			<div class="ql-text"><a href="/home">Home</a></div>
			<br>
			<span class="arrow"></span>
			<div class="ql-text"><a href="/workshops">Workshops</a></div>
			<br>
			<span class="arrow"></span>
			<div class="ql-text"><a href="/events">Events</a></div>
			<hr>
		</div>
	</div>
</div>
