<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="moments.png" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="css/events.css">
</head>

<body>
	<% include partials/nav.ejs %>
		<div class="container" id="w-content">
			<div class="register">
				<a target="_blank" href="https://forms.gle/vvB9R4nhj2pmDsh1A" class="btn btn-dark btn-lg">Register
					Here</a>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="events21/1.CIVIGYAN.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal1">
						<div class="card-title">CIVIGYAN</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
							Unleash your technical knowledge and assert your intellectual skills as you take up the
							Civigyan consisting of two rounds:
						</div>
					</div>
					<button type="button" class="btn btn-info view-more" data-toggle="modal" data-target="#modal1">view
						more</button>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="events21/2.CADPLOT.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal2">
						<div class="card-title">CADPLOT</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
							Are you a person who has an ardent desire to design not just in paper but in CAD? Then wait
							no more! Pave
							way for your designing creativity and your AutoCAD ingenuity to reach its next level as you
							participate in this
							technical AutoCAD event. The Participants, will be given a specified area(with conditions)
							and the participants
							will have to come up with an economical plan to move the panel of judges. The top 3
							contestants to awestruck
							the judges after zealous competition will be bestowed with exciting prizes. </div>
					</div>
					<button type="button" class="btn btn-info view-more" data-toggle="modal" data-target="#modal2">view
						more</button>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="events21/4.QUOTE OR QUIT.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal3">
						<div class="card-title">QUOTE OR QUIT</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
							Bidding a fair price that is low at the same time is paramount for any construction project.
							It is also a skill that
							pays the bill. Ever wondered how contractors become the alpha of a construction project just
							by bidding a fair
							price? Ever aspired to become one? Then it's time to whip yourselves into shape for this
							event that will pave the
							way to hone your skills.
						</div>
					</div>
					<button type="button" class="btn btn-info view-more" data-toggle="modal" data-target="#modal3">view
						more</button>
				</div>

				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="events21/3.POWERPOINT PRESENTATION.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">POWERPOINT PRESENTATION</div>
						<div class="card-subtitle">Event Description</div>
						<div class="card-text">
							Making quality PowerPoint Presentations is a skill that has been in demand for a long time
							now. If you are the
							kind of person who is well-versed at bringing in all of your creativity, ideas and thoughts
							into a fantastic
							amalgamation of slides and beautiful animations, this is an event tailormade for you.
						</div>
					</div>
					<button type="button" class="btn btn-info view-more" data-toggle="modal" data-target="#modal4">view
						more</button>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e7.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal5">
						<div class="card-title">TECH MARATHON</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
							Come join us in this wobbling online quiz and have an intriguing chance to win a free
							workshop as we kickstart
							this year's edition of Moments. Tech marathon event is conducted prior to MOMENTS, where all
							you have to
							do is answer easy questions in time and walk away with a free workshop. Link for the online
							quiz will be send
							to the mail/whatsapp of the registered candidates on April 23rd. The link will be active
							from 8:00 PM to 9:00
							PM. Groovy goodies awaits for the top 10 contestants! Quick grab this opportunity and
							register NOW!
						</div>
					</div>
					<button type="button" class="btn btn-info view-more" data-toggle="modal" data-target="#modal3">view
						more</button>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">CIVIGYAN</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h5>Event description:</h5>
						Unleash your technical knowledge and assert your intellectual skills as you take up the Civigyan
						consisting of two rounds:
						<h5>Format:</h5>
						Round 1: Online quiz consisting of objective questions (comprising of both Structural and Non
						structural)
						<br>
						Round 2: Six teams who have secured the highest marks in Level 1 will qualify for Level 2 and
						they will acquire a chance to exhibit their proficiency in the field of civil engineering
						through six rounds of online quizzing. After 6 rounds of strenuous quizzing, teams retaining the
						top three positions will be awarded.
						<br />
						<br>
						<b>Cash Prize - Rs.7000/-</b>
						<br>
						<h5>Rules:</h5>
						1) Each team can have maximum of 2 members.<br>
						2) Calculators will be allowed for first round only.<br>
						<h5>Judging criteria:</h5>
						1) The teams with maximum score will be qualified for the 2 nd round. (6
						teams)<br />
						2) In case of tie the first round scores will also be taken into account.<br />
						<h5>Timings : </h5>
						ROUND 1: 24/04/2021 : 5:45 PM - 6:45 PM <br>
						ROUND 2: 25/04/2021 : 12:15 PM – 1:15 PM <br>
						Registration fee: 50/- <br>
						<h5>PlatForm:</h5>
						Round 1: HackerEarth <br>
						Round 2: MS Teams <br>
						Registration Deadline: 23/04/2021 by 10PM
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">CADPLOT</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h5>Event description:</h5>
						Are you a person who has an ardent desire to design not just in paper but in CAD? Then wait no
						more! Pave
						way for your designing creativity and your AutoCAD ingenuity to reach its next level as you
						participate in this
						technical AutoCAD event. The Participants, will be given a specified area(with conditions) and
						the participants
						will have to come up with an economical plan to move the panel of judges. The top 3 contestants
						to awestruck
						the judges after zealous competition will be bestowed with exciting prizes.
						<br>
						<h5>Format:</h5>
						1.An economical plan has to be designed in AutoCAD in the specific area given. Problem statement
						contains
						few conditions to follow in the planning.
						2. In the given time you have to complete the given Problem
						3.Must have laptop and software.<br>
						ROUND 1: Online quiz consisting of objective questions (Questions on AUTOCAD software) <br>
						ROUND 2: Eight teams who have secured the highest marks in Level 1 will qualify for Level 2.
						<br>
						
						<h5>Rules:</h5>
						1.Maximum participants in a team: 2<br>
						2.Plagiarism is not allowed.<br>
						<b>Cash Prize - Rs.6000/-</b>
						<br>
						<br>
						<h5>Judging criteria:</h5>
						1.Economical and efficient design is considered<br>
						2.Team with early submission is given preference<br>
						3.judges word is final<br>
						<h5>Timings : </h5>
						ROUND 1: 24/04/2021 : 7:00 PM - 8:00 PM <br>
						ROUND 2: 25/04/2021 : 1:30 PM - 2:30 PM <br>

						Registration fee: 50/- <br>
						<h5>Platform:</h5>
						Round 1 – HackerEarth <br>
						Round 2 – MS Teams <br>
						Registration Deadline: 23/04/2021 - 10PM <br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">QUOTE OR QUIT</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h5>Event description:</h5>
						Bidding a fair price that is low at the same time is paramount for any construction project. It
						is also a skill that
						pays the bill. Ever wondered how contractors become the alpha of a construction project just by
						bidding a fair
						price? Ever aspired to become one? Then it's time to whip yourselves into shape for this event
						that will pave the
						way to hone your skills. <br>
						Moments presents ‘Quote or Quit’, a competition open for all B.Tech and M.Tech students, where
						the
						contestants will be provided with a plan and other required materials and will be required to
						quote an amount by
						the end of the event. The top two contestants to quote the least valid prices will be bestowed
						with cash prizes.
						<br>
						<b>Cash prize: 5000/-</b>
						<h5>Rules:</h5>
						1.Maximum participants in a team: 2 <br>
						<h5>Judging criteria:</h5>
						1.Team with early submission is given preference <br>
						2.Judges word is final <br>
						
						<h5>Timings : </h5>
						24 th April, 8:00 PM – 9:00 PM <br>
						Registration fee: 50/- <br>
						Registration Deadline: 23/04/2021 by 10PM
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">POWERPOINT PRESENTATION</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h5>Event description:</h5>
						Making quality PowerPoint Presentations is a skill that has been in demand for a long time now.
						If you are the
						kind of person who is well-versed at bringing in all of your creativity, ideas and thoughts into
						a fantastic
						amalgamation of slides and beautiful animations, this is an event tailormade for you.
						Moments presents “PowerPoint Presentation”, an event where you’ll be tasked with preparing a
						presentation
						based on a subtopic related to structures, which will be given on the spot. You will be given a
						time of 90
						minutes to come up with the presentation, with attractive prizes on offer for the winners. So
						what are you
						waiting for? Make your point, and register for the event! <br>
						<b>Cash Prize: Rs.7,000/-</b><br>
						Team : Maximum of 3 students.<br>
						<h5>Timings:</h5> 
						24 th April, 1:00 PM – 2:30 PM
						Registration fee: 50/- <br>
						Platform: MS Teams <br>
						Registration Deadline: 23/04/2021 by 10PM <br>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">TECH MARATHON</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h5>Event description:</h5>
						Come join us in this wobbling online quiz and have an intriguing chance to win a free workshop
						as we kickstart
						this year's edition of Moments. Tech marathon event is conducted prior to MOMENTS, where all you
						have to
						do is answer easy questions in time and walk away with a free workshop. Link for the online quiz
						will be send
						to the mail/whatsapp of the registered candidates on April 23rd. The link will be active from
						8:00 PM to 9:00
						PM. Groovy goodies awaits for the top 10 contestants! Quick grab this opportunity and register
						NOW!

						<h5>Timings : </h5>
						Link for the online quiz will be send to the mail/whatsapp of the registered candidates on April
						23 rd. The link will be active from: 8:00 pm to 9:00 pm<br>
						Registration deadline: 23/04/2021 by 10AM <br>
					</div>
					<div class="register">
						<a target="_blank" href="https://forms.gle/dykZPq5ugsf7hhdSA" class="btn btn-dark btn-lg">Register
							Here</a>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<% include partials/footer.ejs %>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
				integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
				crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
				integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
				crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
				integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
				crossorigin="anonymous"></script>

			<script src="js/modal_link.js"></script>
</body>

</html>