<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link rel="icon" href="moments.png" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="css/events.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<div class="container" id="w-content">
			<div class="register">
				<a target = "_blank" href="https://goo.gl/forms/jrK0aYa9ubj4TePw2" class="btn btn-dark btn-lg">Register Here</a>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="cg.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal1">
						<div class="card-title">CIVIGYAN</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">Is it Civil that you breath? Are you a person whose bread and butter are SFDs and BMDs? Here is the opportunity to unwind them all. Moments Presents you the Civil Engineering Tech Quiz set to test your fundamentals and challenge you to the fullest!
								The participants will be tested on basic civil engineering concepts. With their knowledge on Civil engineering they have to present their solutions with necessary argument.</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal1">view more</button>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="bi.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc"  data-toggle="modal" data-target="#modal2">
						<div class="card-title">BRIDGE IT</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
								It takes two sides to build a bridge and it takes a creative mind for an amazing design. Moments’18 provides you an opportunity to showcase your design and fabrication skills of bridges. Participants will be asked to construct a bridge according to the specification given in the problem statement using the materials provided on the spot. So lend wings to your imagination and let it fly high. And be there at this perfect platform.
							</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal2">view more</button>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="pp.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal3">
						<div class="card-title">PAPER PRESENTATION</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
								Have you ever felt that there is a need to bring a change? Have you ever thought of a proposal to solve an issue in the society? Then here is your chance to bring out your creativity. Put on your thinking caps for the event of " Paper presentation".
								We reward you not just by prizes but a fraternity that embraces it. The will be two rounds, and both of them will be eliminative.						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal3">view more</button>
				</div>

				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="sc.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">SURVEYOR’S CHALLENGE</div>
						<div class="card-subtitle">Event Description</div>
						<div class="card-text">
								Are you a person who doesn’t need google maps to navigate  in the city, or is direction generally your thing? Or maybe a keen observer of everything. Come participate in the “Surveyors Challenge” at Moments’18 to find a spot  with given abstract details. Come as teams of three and prove to us your skills as a surveyor with a good dose of aptitude and on field round of the competition. The participants will be asked to locate the position of buildings, permanent stations, based on purely numerical data and alphabetic symbols. Using their knowledge on Surveying they have to survey the region and present the required data along with a drawing of the area they were given to survey.						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal4">view more</button>
			</div>
			<div class="col-md-1"></div>
		</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="cc.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">Canny Columns</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">The art of building design is a skill bestowed to a select few individuals. The intricate balancing of aesthetic sense with proper strength and durability is a true art by itself. Speculating in this regard, a design challenge resonated ideal.
								Designing a structure requires concentration and precision. Designing on paper may sound easy but in actual field, the working conditions are more challenging.
								Moments NIT, Trichy presents you the event of Canny column!
								Canny column design is an event which tests the practicality of the competitor this event challenges budding designers from all over India to make designs for a specified dimension of column, incorporating the support conditions provided.</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal5">view more</button>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
						<img src="wrap.jpeg" class="card-img-top" alt="">
						<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal6">
							<div class="card-title">WRAP THE SCRAP</div>
							<div class="card-subtitle">Event description</div>
							<div class="card-text">The world environment is getting worse day by day, as we use our natural recourses indiscriminately and fail to manage our waste. Solid waste is the major concern in today’s scenario. As per planning commission report, 2014, a typical Municipal Solid Waste in India contains, 40-60% of biodegradable or compostable wastes, 30-50% of inert wastes and 10-30% of recyclable wastes.
									Unfortunately, according to stats, only 10% of the processable wastes are recycled. Hence, Solid Waste Management (SWM) is a responsibility in everyone’s shoulder. The rules in rule 15(zj) of solid waste management rules,2016 recommend “investigate and analyse all old open dumpsites and existing operational dumpsites for their potential of biomining and bio-remediation and wheresoever feasible, take necessary actions to bio-mine or bio-remediate the sites”.
									Inspired by this act, Moments present you an emerging pathway to solve this issue in the form of an event called “WRAP THE SCRAP”.
									There are many ways to recycle or retrieve useful deliverables from solid wastes. For example, a dump yard or mining site will serve as a good source of raw material.</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal6">view more</button>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
		<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">CIVIGYAN</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h5>Event description:</h5> Is it Civil that you breath? Are you a person whose bread and butter are SFDs and BMDs? Here is the opportunity to unwind them all. Moments Presents you the Civil Engineering Tech Quiz set to test your fundamentals and challenge you to the fullest!
							The participants will be tested on basic civil engineering concepts. With their knowledge on Civil engineering they have to present their solutions with necessary argument.
							<h5>Format:</h5>
							Round 1: Written type. Comprising of both objective and subjective questions on basic civil engineering and advanced civil engineering practice. The round is eliminative.<br/>
							Round 2: Final round will be a quiz. Top three teams will be awarded prizes.<br/>
							<br>
							<b>Cash Prize - 6k</b>
							<br>
							<br>
							<h5>Rules:</h5>
							1. Each team can consist of maximum 2 members.<br>
							2. Calculators will be allowed only in the final round.<br>
							3. All tasks must be completed in specified time.<br>
							<h5>Judging criteria:</h5>
									1. Accuracy and Proper answers.<br/>
									2. Proper representation of solutions.<br/>
									3. In case of tie the preliminary round scores will also be taken into account.<br/>
								</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">BRIDGE IT</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h5>Event description:</h5>It takes two sides to build a bridge and it takes a creative mind for an amazing design. Moments’18 provides you an opportunity to showcase your design and fabrication skills of bridges. Participants will be asked to construct a bridge according to the specification given in the problem statement using the materials provided on the spot. So lend wings to your imagination and let it fly high. And be there at this perfect platform.
							<h5>Format:</h5>
							It will be released on the day of the event. Participants are expected to submit their model at the mentioned time.
							<br/>Note: Kits will be provided and the model should be made only by using them.
							Each team should consist of maximum 3 members only.
							<br>
							<br>
							<b>Cash Prize - 6k</b>
							<br>
							<br>
							<h5>Judging criteria:</h5>
							Models will be awarded points based on the following criteria:<br>
							1. Design, stability and aesthetic appeal.<br>
							2. Efficiency (Load to weight ratio) and effective usage of materials<br>
							3. Minimum deflection at midspan.<br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">PAPER PRESENTATION</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h5>Event description:</h5>
							Have you ever felt that there is a need to bring a change? Have you ever thought of a proposal to solve an issue in the society? Then here is your chance to bring out your creativity. Put on your thinking caps for the event of " Paper presentation".
							We reward you not just by prizes but a fraternity that embraces it. The will be two rounds, and both of them will be eliminative.
							<br/>
							<br>
							<b>Cash Prize - 10k</b>
							<br>
							<br>
							<h5>Round 1:</h5>
							In this round, all the participants need to submit their paper containing title, objective, a description of the content of your paper and the market analysis of your findings.
									• The Paper can be of any topic related to civil engineering.<br>
									• Submit the abstract to paperpresentation.moments18@gmail.com along with your moments ID<br>
									• Your email should have name of the event as your subject and your file name should have the title of the concerned paper.<br>
									• Deadline: 30th Sept 2018<br>
									• Maximum members per team: 2<br>
									• The best papers will be shortlisted to the next round by a confirmation mail. The shortlisted teams should bring two hard copies of their presentation on the day of the event during Moments.
							<br>
							<h5>Round 2:</h5>
							The selected candidates will be informed through the mail about the procedure.
							<br>
							Note:
							The abstract should be mailed in the specific format which is attached.		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Canny Columns</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h6>Event description:</h6>
							The art of building design is a skill bestowed to a select few individuals. The intricate balancing of aesthetic sense with proper strength and durability is a true art by itself. Speculating in this regard, a design challenge resonated ideal.
							Designing a structure requires concentration and precision. Designing on paper may sound easy but in actual field, the working conditions are more challenging.
							Moments NIT, Trichy presents you the event of Canny column!
							Canny column design is an event which tests the practicality of the competitor this event challenges budding designers from all over India to make designs for a specified dimension of column, incorporating the support conditions provided.
							<h5>Problem Statement:</h5>
							Fabricate a column of 1m length with maximum lateral dimensions of 200mm X 200mm to resist an axial load of 300kN (Maximum tolerance allowed is +15%).
							Specifications:<br>
									• Boundary Conditions: Both ends rotation free and translation fixed<br>
									• The column can be of any material (Ex:  Concrete/ Steel/ Wood/ Steel Concrete Composite)<br>
									• Design should be based on Indian Standards.<br>
							<br>
							<b>Cash Prize - 12k</b>
							<br>
							<br>
							<h5>Judging criteria:</h5>
							The following parameters will be considered in adjudicating the winners:<br>
									• Design, Innovation and Report: 30%<br>
									• Cost effectiveness: 30%<br>
									• Fabrication and Aesthetic appearance: 20%<br>
									• Oral Presentation to judge: 20%<br>
							<h5>Rules:</h5>
									•  Maximum 4 members per team.<br>
									• Send your report to cannycolumns.moments@gmail.com  before 3rd October 2018.<br>
									• Any violation or deviation from the criteria mentioned in the problem statement will result in the disqualification of the team.<br>
									• The judges word will be final.<br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalCenterTitle">SURVEYOR’S CHALLENGE</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
								<h5>Event description:</h5> Are you a person who doesn’t need google maps to navigate  in the city, or is direction generally your thing? Or maybe a keen observer of everything. Come participate in the “Surveyors Challenge” at Moments’18 to find a spot  with given abstract details. Come as teams of three and prove to us your skills as a surveyor with a good dose of aptitude and on field round of the competition. The participants will be asked to locate the position of buildings, permanent stations, based on purely numerical data and alphabetic symbols. Using their knowledge on Surveying they have to survey the region and present the required data along with a drawing of the area they were given to survey.
								<h5>Format:</h5>
								Round 1: Written type. Comprising of objective questions on conventional and advanced surveying and basic aptitude. The round is eliminative.<br>
								Round 2:  Final round will be survey on the field. Participants should find solutions to the given problems pertaining to survey in the given duration of time. Knowledge on usage of surveying equipment is a prerequisite.<br>
								<br>
								<b>Cash Prize - 8k</b>
								<br>
								<br>
								<h5>Rules:</h5>
								1. Each team must consist of exactly 3 members.<br>
								2. Calculators will be allowed only in the final round<br>
								<h5>Judging criteria:</h5>
								1. Knowledge of Proper use of surveying equipment.<br>
								2. Speed and efficiency of completing the given task.<br>
								3. Proper representation of Bookwork of the problem statement<br>
								4. In case of tie the preliminary round scores will also be taken into account.<br>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalCenterTitle">Wrap the Scrap</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<h5>Event description:</h5>
									The world environment is getting worse day by day, as we use our natural recourses indiscriminately and fail to manage our waste. Solid waste is the major concern in today’s scenario. As per planning commission report, a typical Municipal Solid Waste in India contains, 40-60% of biodegradable or compostable wastes, 30-50% of inert wastes and 10-30% of recyclable wastes. Unfortunately, according to statistics, only 10% of the wastes are recycled. The rules in rule 15(zj) of solid waste management rules, 2016 recommend “investigate and analyse all old open dumpsites and existing operational dumpsites for their potential of biomining and bio-remediation and wheresoever feasible, take necessary actions to bio-mine or bio-remediate the sites”.<br>
									Inspired by this regulations, MOMENTS present you an emerging pathway to solve this issue in the form of an event called “WRAP THE SCRAP”. <br>
									There are many ways to recycle or retrieve useful deliverables from solid wastes. For example, a dump yard or landfill will serve as a good source of raw material.<br>
									<br>
									<h5>Problem Statement:</h5>
									Utilise any of this waste to create any usable material in areas like Sensor-based sorting, Sorting with magnetic separators, Valued added products and Building materials, Dehydrated Pellets, Refuse-derived fuel, Plastic waste to liquid fuel, Extract valuable materials like aluminium, zinc, copper or steel, Recovery of rare earths from E-waste residues, Innovations in the design of Compost bins and Technologies etc.<br>
									Note: The above mentioned are examples only, participants can come up with any innovative product.<br>
									<h5>Specifications:</h5>
									1. Any technology can be used, the participant is requested to explain about the technology to the judges elaborately.<br>
									2. Points to be covered are innovation used, feasibility and usability of your creation.<br>
									3. Maximum members per team: 3<br>
									<br>
									<b>Cash Prize - 12k</b>
									<br>
									<br>
									<h5>Judging Criteria:</h5>
									Your model will be adjudged on the following criteria
									1. Innovation: 40%<br>
									2. Usability: 40%<br>
									3. Presentation: 20%<br>
									P.S. Brownie points for looks and don’t forget to bring your product when you come for the event.
									<h5>Rules:</h5>
									1. The model needs to be made of entirely recycled material. Use of new materials will invite negative points.<br>
									2. Participants are requested to record a video (with participants, Experimental Procedures / Methodologies) of the process and present it along with the product. (Like a time lapse video). Upload your recorded video to wrapthescrap.moments@gmail.com before coming to the event.<br>
									3. A page long write up, comprising of the materials used, the technology used, any additional information about the product, should be submitted with the product.<br>
									4. Usage of hazardous wastes (harmful chemicals, radioactive elements) is prohibited.<br>
									5. Judges decision is final. Any discrepancies will not be entertained.<br>
									NOTE: Innovative ideas will be further assisted by faculty of NIT Trichy.</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

		<% include partials/footer.ejs %>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="modal_link.js"></script>
	</body>
</html>
