<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link rel="icon" href="moments.png" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="css/events.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<div class="container" id="w-content">
			<div class="register">
				<a target = "_blank" href="https://goo.gl/forms/jrK0aYa9ubj4TePw2" class="btn btn-dark btn-lg">Register Here</a>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e1.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal1">
						<div class="card-title">CIVIGYAN</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
                         Unleash your technical knowledge and assert your intellectual skills as you take up the Civigyan consisting of two rounds:
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal1">view more</button>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e2.jpeg" class="card-img-top" alt="">
					<div class="fluid-container w-desc"  data-toggle="modal" data-target="#modal2">
						<div class="card-title">CAD MASTER</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
							Are you a person who has an ardent desire to design not just in paper but in CAD? Then wait no more! Pave way for your designing creativity and your AutoCAD ingenuity to reach its next level as you participate in this technical autocad event. The Participants, team of 2 will be given a specified area(with conditions) and the participants will have to come up with an economical plan to move the panel of judges. The top 3 contestants to awestruck the judges after zealous competition will be bestowed with exciting prizes.						</div>
					    </div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal2">view more</button>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e3.jpeg" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal3">
						<div class="card-title">MORTAR MASTER</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
							In this ever-expanding concrete jungle with countless structures, buildings, monuments and breathtaking bridges, getting the right design mix is a skill that pays the bill. Moments 19’ gives you an opportunity to put your mortar making skills to test in our event “Mortar master”. Participants will be given the required strength and specifications and will be expected to intricately balance their theoretical and practical knowledge to come up with a mortar that fulfills the criteria. Designing on paper may sound easy but in actual field, the working conditions are more challenging. Use this perfect platform to flex your skills and win exciting cash prizes. Fix and mix until the right design clicks.
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal3">view more</button>
				</div>

				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e4.jpeg" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">PAPER PRESENTATION</div>
						<div class="card-subtitle">Event Description</div>
						<div class="card-text">
							Paper presentation presents an ideal platform for those civil enthusiasts who wish to present their creative and innovative ideas and gain recognition. Submissions are taken from both structural as well as non structural categories. Participants as a teams of three will have to send an e-paper according to the theme given. After the evaluation of the submissions, nine shortlisted teams will get to present their paper in front a distinguished panel of judges. Prizes will be given to the top three contenders in both structural and non structural categories.
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal4">view more</button>
			</div>
			<div class="col-md-1"></div>
		</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e5.jpeg" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">SURVEYOR'S CHALLENGE</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
						A challenge like none other, this event is designed to test the surveying skills of the contestants on field. Consisting of two levels,the first level will be a technical quiz round where the participants are tested on their proficiency in surveying and aptitude. Six promising candidates will be shortlisted and they will move on to level two where they have to survey a plot of land with the instruments.	
					    </div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal5">view more</button>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
						<img src="img/e6.jpeg" class="card-img-top" alt="">
						<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal6">
							<div class="card-title">Bridge it 2.0</div>
							<div class="card-subtitle">Event description</div>
							<div class="card-text">Let the doors to creativity and innovation open as each of the teams (with a maximum of 3 contestants) will be provided with materials as simple as ice-cream sticks and threads to design a truss which withstands the assigned target load. The top three teams exhibiting ingenuity along with incorporating a deep sense of  technical knowledge shall be awarded.
							</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal6">view more</button>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
				<div class="col-6 col-md-4"></div>
				<div class="col-6 col-md-4 w-card card">
					<img src="img/e7.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal7">
						<div class="card-title">TECH MARATHON</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
								Come join us in this wobbling online quiz and have an intriguing chance to win a free workshop as we kickstart this year's edition of Moments. Tech marathon event is  conducted prior to MOMENTS, where all you have to do is answer easy questions in time and walk away with a free workshop (with free accommodation!). Link for the online quiz will be send to the mail/whatsapp of the registered candidates on oct 13th. The link will be active from 5:30 PM to 6:00 PM.
								Groovy goodies awaits for the top 5 contestants! Quick grab this opportunity and register NOW!								
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal3">view more</button>
				</div>
		</div>
		<div class="col-6 col-md-4"></div>
	</div>
		<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">CIVIGYAN</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h5>Event description:</h5>
							Unleash your technical knowledge and assert your intellectual skills as you take up the Civigyan consisting of two rounds:
							<h5>Format:</h5>
							Level 1: Written quiz (comprising of both Structural and Non structural)
							<br>
                            Level 2: Six teams who have secured the highest marks in Level 1 will qualify for Level 2 and they will acquire a chance to exhibit their proficiency in the field of civil engineering through six rounds of on stage quizzing.
                            After 6 rounds of strenuous quizzing, teams retaining the top three positions will  be awarded.
                            <br/>
							<br>
							<b>Cash Prize - Rs.6000/-</b>
							<br>
							<br>
							<h5>Rules:</h5>
							1. Each team can consist of maximum 2 members.<br>
							2. Calculators will be allowed only in the final round.<br>
							3. All tasks must be completed in specified time.<br>
							<h5>Judging criteria:</h5>
									1. Accuracy and Proper answers.<br/>
									2. Proper representation of solutions.<br/>
									3. In case of tie the preliminary round scores will also be taken into account.<br/>
							<h5>Timings : </h5>
							06/10/2018 : 11:30 am - 12:30 pm (prelims)<br>
							07/10/2018 : 3:00 pm - 4:00 pm (second round)
								</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">CAD MASTER</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h5>Event description:</h5>Are you a person who has an ardent desire to design not just in paper but in CAD? Then wait no more! Pave way for your designing creativity and your AutoCAD ingenuity to reach its next level as you participate in this technical autocad event. The Participants, team of 2 will be given a specified area(with conditions) and the participants will have to come up with an economical plan to move the panel of judges. The top 3 contestants to awestruck the judges after zealous competition will be bestowed with exciting prizes. 
							<br>
							<h5>Format:</h5>
							It will be released on the day of the event. Participants are expected to submit their model at the mentioned time.
							<br/>Note: Kits will be provided and the model should be made only by using them.
							Each team should consist of maximum 3 members only.
							<br>
							<br>
							<b>Cash Prize - Rs.6000/-</b>
							<br>
							<br>
							<h5>Judging criteria:</h5>
							Models will be awarded points based on the following criteria:<br>
							1. Design, stability and aesthetic appeal.<br>
							2. Efficiency (Load to weight ratio) and effective usage of materials<br>
							3. Minimum deflection at midspan.<br>
							<h5>Timings : </h5>
							07/10/2018 : 2:00 pm - 3:00 pm
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">MORTAR MASTER</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h5>Event description:</h5>
							In this ever-expanding concrete jungle with countless structures, buildings, monuments and breathtaking bridges, getting the right design mix is a skill that pays the bill. Moments 19’ gives you an opportunity to put your mortar making skills to test in our event “Mortar master”. Participants will be given the required strength and specifications and will be expected to intricately balance their theoretical and practical knowledge to come up with a mortar that fulfills the criteria. Designing on paper may sound easy but in actual field, the working conditions are more challenging. Use this perfect platform to flex your skills and win exciting cash prizes. Fix and mix until the right design clicks.
							<br><br>
							Two rounds in this event to showcase your potential.<br>
							Preliminary round is as follows:<br>
							In this round, all the participants are required to submit their abstract containing title, objective, a
							description of the content of your paper.
							<br><br>
							TOPIC : The paper can be of any topic focussing on either structural or non structural point of view of solving the issues.<br>
							Team : Maximum of 2 students.<br>
							Submit your abstract to
							paperpresentation.moments@gmail.com
							<br><br>
							For the abstract refer the rules provided.<br>
							Your email should have the events name as your subject and your file name should have
							the title of the concerned paper.<br>
							DEADLINE: 2nd Oct 2018<br>
							The best abstracts will be shortlisted to the next round by a confirmation mail. The
							shortlisted teams should bring two hard copies of paper and PPT on the day of the
							event during Moments.<br>
							The shortlisted candidates will be informed about the further round details<br>
							Prize money for the winners : Rs.10000/-
							<br><br>
							<h5>Format for the Abstract:</h5>
							<a href="https://drive.google.com/file/d/1lUXIEDHBVJfS39T77XduiREjPGV3cs_w/view">https://drive.google.com/file/d/1lUXIEDHBVJfS39T77XduiREjPGV3cs_w/view</a>
							<h5>Timings : </h5>
							07/10/2018 : 9:30 am - 12:30 pm
				</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">SURVEYOR'S CHALLENGE</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h6>Event description:</h6>
							A challenge like none other, this event is designed to test the surveying skills of the contestants on field. Consisting of two levels,the first level will be a technical quiz round where the participants are tested on their proficiency in surveying and aptitude. Six promising candidates will be shortlisted and they will move on to level two where they have to survey a plot of land with the instruments.
							<h5>Problem Statement:</h5>
							Fabricate a column of 1m length with maximum lateral dimensions of 200mm X 200mm to resist an axial load of 300kN (Maximum tolerance allowed is +15%).
							Specifications:<br>
									• Boundary Conditions: Both ends rotation free and translation fixed<br>
									• The column can be of any material (Ex:  Concrete/ Steel/ Wood/ Steel Concrete Composite)<br>
									• Design should be based on Indian Standards.<br>
							<br>
							<b>Cash Prize - Rs.12000/-</b>
							<br>
							<br>
							<h5>Judging criteria:</h5>
							The following parameters will be considered in adjudicating the winners:<br>
									• Design, Innovation and Report: 30%<br>
									• Cost effectiveness: 30%<br>
									• Fabrication and Aesthetic appearance: 20%<br>
									• Oral Presentation to judge: 20%<br>
							<h5>Rules:</h5>
									•  Maximum 4 members per team.<br>
									• Send your report to cannycolumns.moments@gmail.com  before 3rd October 2018.<br>
									• Any violation or deviation from the criteria mentioned in the problem statement will result in the disqualification of the team.<br>
									• The judges word will be final.<br>
							<h5>Timings : </h5>
							06/10/2018 : 1:30 pm - 3:30 pm<br>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalCenterTitle">PAPER PRESENTATION</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
								<h5>Event description:</h5>Paper presentation presents an ideal platform for those civil enthusiasts who wish to present their creative and innovative ideas and gain recognition. Submissions are taken from both structural as well as non structural categories. Participants as a teams of three will have to send an e-paper according to the theme given. After the evaluation of the submissions, nine shortlisted teams will get to present their paper in front a distinguished panel of judges. Prizes will be given to the top three contenders in both structural and non structural categories. 
								<h5>Format:</h5>
								Round 1: Written type. Comprising of objective questions on conventional and advanced surveying and basic aptitude. The round is eliminative.<br>
								Round 2:  Final round will be survey on the field. Participants should find solutions to the given problems pertaining to survey in the given duration of time. Knowledge on usage of surveying equipment is a prerequisite.<br>
								<br>
								<b>Cash Prize - Rs.8000/-</b>
								<br>
								<br>
								<h5>Rules:</h5>
								1. Each team must consist of exactly 3 members.<br>
								2. Calculators will be allowed only in the final round<br>
								<h5>Judging criteria:</h5>
								1. Knowledge of Proper use of surveying equipment.<br>
								2. Speed and efficiency of completing the given task.<br>
								3. Proper representation of Bookwork of the problem statement<br>
								4. In case of tie the preliminary round scores will also be taken into account.<br>
								<h5>Timings : </h5>
								06/10/2018 : 04:00 pm - 05:00 pm (prelims)<br>
								07/10/2018 : 06:30 am - 09:00 am (finals)
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalCenterTitle">Wrap the Scrap</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<h5>Event description:</h5>
									 <br>
									 Let the doors to creativity and innovation open as each of the teams (with a maximum of 3 contestants) will be provided with materials as simple as ice-cream sticks and threads to design a truss which withstands the assigned target load. The top three teams exhibiting ingenuity along with incorporating a deep sense of  technical knowledge shall be awarded.
									<br>
									<h5>Problem Statement:</h5>
									Utilise any of this waste to create any usable material in areas like Sensor-based sorting, Sorting with magnetic separators, Valued added products and Building materials, Dehydrated Pellets, Refuse-derived fuel, Plastic waste to liquid fuel, Extract valuable materials like aluminium, zinc, copper or steel, Recovery of rare earths from E-waste residues, Innovations in the design of Compost bins and Technologies etc.<br>
									Note: The above mentioned are examples only, participants can come up with any innovative product.<br>
									<h5>Specifications:</h5>
									1. Any technology can be used, the participant is requested to explain about the technology to the judges elaborately.<br>
									2. Points to be covered are innovation used, feasibility and usability of your creation.<br>
									3. Maximum members per team: 3<br>
									<br>
									<b>Cash Prize - Rs.12000/-</b>
									<br>
									<br>
									<h5>Judging Criteria:</h5>
									Your model will be adjudged on the following criteria
									1. Innovation: 40%<br>
									2. Usability: 40%<br>
									3. Presentation: 20%<br>
									P.S. Brownie points for looks and don’t forget to bring your product when you come for the event.
									<h5>Rules:</h5>
									1. The model needs to be made of entirely recycled material. Use of new materials will invite negative points.<br>
									2. Participants are requested to record a video (with participants, Experimental Procedures / Methodologies) of the process and present it along with the product. (Like a time lapse video). Upload your recorded video to wrapthescrap.moments@gmail.com before coming to the event.<br>
									3. A page long write up, comprising of the materials used, the technology used, any additional information about the product, should be submitted with the product.<br>
									4. Usage of hazardous wastes (harmful chemicals, radioactive elements) is prohibited.<br>
									5. Judges decision is final. Any discrepancies will not be entertained.<br>
									NOTE: Innovative ideas will be further assisted by faculty of NIT Trichy.<br>
									<h5>Timings : </h5>
									06/10/2018 : 9:00 am - 11:00 am<br>
								</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
                <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalCenterTitle">TECH MARATHON</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<div class="modal-body">
										  <h5>Event description:</h5>
										  Come join us in this wobbling online quiz and have an intriguing chance to win a free workshop as we kickstart this year's edition of Moments. Tech marathon event is  conducted prior to MOMENTS, where all you have to do is answer easy questions in time and walk away with a free workshop (with free accommodation!). Link for the online quiz will be send to the mail/whatsapp of the registered candidates on oct 13th. The link will be active from 5:30 PM to 6:00 PM.
                                          Groovy goodies awaits for the top 5 contestants! Quick grab this opportunity and register NOW!
										  <!-- <h5>Format:</h5>
										  Level 1: Written quiz (comprising of both Structural and Non structural)
										  <br>
										  Level 2: Six teams who have secured the highest marks in Level 1 will qualify for Level 2 and they will acquire a chance to exhibit their proficiency in the field of civil engineering through six rounds of on stage quizzing.
										  After 6 rounds of strenuous quizzing, teams retaining the top three positions will  be awarded.
										  <br/>
										  <br>
										  <b>Cash Prize - Rs.6000/-</b>
										  <br>
										  <br>
										  <h5>Rules:</h5>
										  1. Each team can consist of maximum 2 members.<br>
										  2. Calculators will be allowed only in the final round.<br>
										  3. All tasks must be completed in specified time.<br>
										  <h5>Judging criteria:</h5>
												  1. Accuracy and Proper answers.<br/>
												  2. Proper representation of solutions.<br/>
												  3. In case of tie the preliminary round scores will also be taken into account.<br/> -->
										  <h5>Timings : </h5>
										  Link for the online quiz will be send to the mail/whatsapp of the registered candidates on oct 13th<br>
										  The link will be active from: 
										  5:30 PM to 6:00 PM<br>
											  </div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					  </div>
			  
		<% include partials/footer.ejs %>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="js/modal_link.js"></script>
	</body>
</html>
