<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link rel="icon" href="moments.png" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="css/events.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<div class="container" id="w-content">
			<div class="register">
				<a target = "_blank" href="https://goo.gl/forms/jrK0aYa9ubj4TePw2" class="btn btn-dark btn-lg">Register Here</a>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e1.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal1">
						<div class="card-title">CIVIGYAN</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
                         Unleash your technical knowledge and assert your intellectual skills as you take up the Civigyan consisting of two rounds:
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal1">view more</button>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e2.jpeg" class="card-img-top" alt="">
					<div class="fluid-container w-desc"  data-toggle="modal" data-target="#modal2">
						<div class="card-title">CAD MASTER</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
							Are you a person who has an ardent desire to design not just in paper but in
							CAD? Then wait no more! Pave way for your designing creativity and your
							AutoCAD ingenuity to reach its next level as you participate in this technical
							AutoCAD event. The Participants, team of 2 will be given a specified area(with
							conditions) and the participants will have to come up with an economical plan to
							move the panel of judges. The top 3 contestants to awestruck the judges after
							zealous competition will be bestowed with exciting prizes.						</div>
					    </div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal2">view more</button>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e3.jpeg" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal3">
						<div class="card-title">MORTAR MASTER</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
							In this ever-expanding concrete jungle with countless structures, buildings,
monuments and breath-taking bridges, getting the right design mix is a skill that
pays the bill. Moments 19’ gives you an opportunity to put your mortar making
skills to test in our event “Mortar master”. Participants will be given the required
strength and specifications and will be expected to intricately balance their
theoretical and practical knowledge to come up with a mortar that fulfils the
criteria. Designing on paper may sound easy but in actual field, the working
conditions are more challenging. Use this perfect platform to flex your skills and
win exciting cash prizes. Fix and mix until the right design clicks.
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal3">view more</button>
				</div>

				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e4.jpeg" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">PAPER PRESENTATION</div>
						<div class="card-subtitle">Event Description</div>
						<div class="card-text">
							Paper presentation presents an ideal platform for those civil enthusiasts who wish to present their creative and innovative ideas and gain recognition. Submissions are taken from both structural as well as non structural categories. Participants as a teams of three will have to send an e-paper according to the theme given. After the evaluation of the submissions, nine shortlisted teams will get to present their paper in front a distinguished panel of judges. Prizes will be given to the top three contenders in both structural and non structural categories.
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal4">view more</button>
			</div>
			<div class="col-md-1"></div>
		</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4 w-card card">
					<img src="img/e5.jpeg" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">SURVEYOR'S CHALLENGE</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
							A challenge like none other, this event is designed to test the surveying
							skills of the contestants on field. Consisting of two levels, the first level
							will be a technical quiz round where the participants are tested on their
							proficiency in surveying and aptitude. Six promising candidates will be
							shortlisted and they will move on to level two where they have to survey
							a plot of land with the instruments. Knowledge on usage of surveying
							instruments is a prerequisite.
					    </div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal5">view more</button>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
						<img src="img/e6.jpeg" class="card-img-top" alt="">
						<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal6">
							<div class="card-title">TRUSS IT</div>
							<div class="card-subtitle">Event description</div>
							<div class="card-text">Let the doors to creativity and innovation open as each of the teams (with a maximum of 3 contestants) will be provided with materials as simple as ice-cream sticks and threads to design a truss which withstands the assigned target load. The top three teams exhibiting ingenuity along with incorporating a deep sense of  technical knowledge shall be awarded.
							</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal6">view more</button>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
				<div class="col-6 col-md-4"></div>
				<div class="col-6 col-md-4 w-card card">
					<img src="img/e7.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal7">
						<div class="card-title">TECH MARATHON</div>
						<div class="card-subtitle">Event description</div>
						<div class="card-text">
								Come join us in this wobbling online quiz and have an intriguing chance to win a free workshop as we kickstart this year's edition of Moments. Tech marathon event is  conducted prior to MOMENTS, where all you have to do is answer easy questions in time and walk away with a free workshop (with free accommodation!). Link for the online quiz will be send to the mail/whatsapp of the registered candidates on oct 13th. The link will be active from 5:30 PM to 6:00 PM.
								Groovy goodies awaits for the top 5 contestants! Quick grab this opportunity and register NOW!								
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal3">view more</button>
				</div>
		</div>
		<div class="col-6 col-md-4"></div>
	</div>
		<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">CIVIGYAN</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h5>Event description:</h5>
							Unleash your technical knowledge and assert your intellectual skills as you take up the Civigyan consisting of two rounds:
							<h5>Format:</h5>
							Round 1: Written quiz (comprising of both Structural and Non structural)
							<br>
                            Round 2: Six teams who have secured the highest marks in Level 1 will qualify for Level 2 and they will acquire a chance to exhibit their proficiency in the field of civil engineering through six rounds of on stage quizzing.
                            After 6 rounds of strenuous quizzing, teams retaining the top three positions will  be awarded.
                            <br/>
							<br>
							<b>Cash Prize - Rs.8000/-</b>
							<br>
							<h5>Rules:</h5>
							1) Each team can have maximum of 2 members.<br>
							2) Calculators will be allowed for first round only.<br>
							<h5>Judging criteria:</h5>
							1) The teams with maximum score will be qualified for the 2 nd round. (6
							teams)<br/>
							2) In case of tie the first round scores will also be taken into account.<br/>
							<h5>Timings : </h5>
							ROUND 1: 19/10/2019 : 5:45 pm - 6:45 pm <br>
							ROUND 2: 20/10/2019 : 2:00 pm - 3:00 pm 
								</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">CAD MASTER</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h5>Event description:</h5>
							Are you a person who has an ardent desire to design not just in paper but in
CAD? Then wait no more! Pave way for your designing creativity and your
AutoCAD ingenuity to reach its next level as you participate in this technical
AutoCAD event. The Participants, team of 2 will be given a specified area(with
conditions) and the participants will have to come up with an economical plan to
move the panel of judges. The top 3 contestants to awestruck the judges after
zealous competition will be bestowed with exciting prizes. 
							<br>
							<h5>Format:</h5>
							1.An economical plan has to be designed in AutoCAD in the specific area given.
                            Problem statement contains few conditions to follow in the planning.<br>
                            2. In the given time you have to completed the given Problem<br>
                            3.No need to bring laptops.<br>
							<h5>Rules:</h5>
							1.Maximum participants in a team: 2<br>
							2.Plagiarism is not allowed.<br>
							<b>Cash Prize - Rs.6000/-</b>
							<br>
							<br>
							<h5>Judging criteria:</h5>
							1.Economical and efficient design is considered<br>
							2.Team with early submission is given preference<br>
							3.judges word is final<br>
							<h5>Timings : </h5>
							19/10/2019 : 3:00 pm - 4:00 pm
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">MORTAR MASTER</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h5>Event description:</h5>
							In this ever-expanding concrete jungle with countless structures, buildings,
monuments and breath-taking bridges, getting the right design mix is a skill that
pays the bill. Moments 19’ gives you an opportunity to put your mortar making
skills to test in our event “Mortar master”. Participants will be given the required
strength and specifications and will be expected to intricately balance their
theoretical and practical knowledge to come up with a mortar that fulfils the
criteria. Designing on paper may sound easy but in actual field, the working
conditions are more challenging. Use this perfect platform to flex your skills and
win exciting cash prizes. Fix and mix until the right design clicks.
							<br>
							<h5>Problem Statement:</h5>
							An M 60 concrete cubes(3 cubes)of size 150×150×150 (mm) has to be designed.
							<h5>Rules:</h5>
							1. Use OPC 43 grade cement only.<br>
							2.Coarse aggregate: Crushed blue granite.<br>
                            3.Fine aggregate  : M-sand.<br>
                            4.No mineral admixtures should be used.<br>
                            5.Chemical admixtures can be used.<br>
                            6.Minimum slump of concrete should be 120mm.<br>
							7.Three cubes must be made<br>
							8.Maximum 3 members per team.<br>
							9.Each team must has to bring 3 cubes otherwise the team will be rejected.<br>
							10.prepare a report of mixed design (hard copy) and submit it along with cubes<br>
							11.Write your names on the concrete cubes before submitting. Submit your
                               concrete cubes by 12 noon on October 19 th .<br>
							12.Any violation or deviation from the criteria mentioned in the problem
							statement will result in the disqualification of the team.<br>
                            13.The judge’s word will be final.<br>
							<b>Prize money for the winners : Rs.10000/-</b>
							<br><br>
							<h5>Judging criteria:</h5>
							The following parameters will be considered in judging the winners:<br>
                            • Average strength of 3 cubes: 50%<br>
                            • Curing of concrete cubes: 20%<br>
                            • Materials used in concrete cubes: 10%<br>
                            • Oral Presentation to judge: 20%<br>
							<h5>Timings : </h5>
							Winners will be announced during valediction (20 th October 5p.m. onwards)
				</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">SURVEYOR'S CHALLENGE</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
							<h6>Event description:</h6>
							A challenge like none other, this event is designed to test the surveying
skills of the contestants on field. Consisting of two levels, the first level
will be a technical quiz round where the participants are tested on their
proficiency in surveying and aptitude. Six promising candidates will be
shortlisted and they will move on to level two where they have to survey
a plot of land with the instruments. Knowledge on usage of surveying
instruments is a prerequisite.
							<h5>Format:</h5>
							Round 1: Written type. Comprising of objective questions on conventional and
advanced surveying and basic aptitude. Top six teams will be qualified for
round 2.<br>
Round 2: Final round will be survey on the field. Participants should find
solutions to the given problems pertaining to survey in the given duration of
time. Knowledge on usage of surveying equipment is a prerequisite.<br>
							<h5>Judging criteria:</h5>
							1. Knowledge on Proper usage of surveying equipment.<br>
							2. Speed and efficiency of completing the given task.<br>
							3. Proper representation of Bookwork of the problem statement<br>
							4. In case of tie the preliminary round scores will also be taken into account.<br>
							<b>Cash Prize - Rs.6000/-</b>
									<h5>Rules:</h5>
									1. Each team must consist of exactly 3 members.<br>
									2. Calculators will be allowed only in the final round.<br>
						
							<h5>Timings : </h5>
							19/10/2019 : 1:15 pm - 2:15 pm<br>
							20/10/2019 : 6:30 pm - 8:00 pm<br>
							

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalCenterTitle">PAPER PRESENTATION</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
								<h5>Event description:</h5>
								Paper presentation presents an ideal platform for those civil enthusiasts
who wish to present their creative and innovative ideas and gain
recognition. Submissions are taken from both structural as well as non-
structural categories. Participants as a team of three will have to send an
e-paper according to the theme given. After the evaluation of the
submissions, nine shortlisted teams will get to present their paper in front
a distinguished panel of judges. Prizes will be given to the top three
contenders in both structural and non-structural categories.<br><br>
Team : Maximum of 3 students.<br>
Submit your abstract to<br>
<b>paperpresentation.moments2019@gmail.com</b><br>
For the abstract refer the rules provided.<br>
Your email should have the events name as your subject and your file
name should have the title of the concerned paper.<br>
DEADLINE: 16 th Oct 2019,5<br>
The best abstracts will be shortlisted to the next round by a confirmationmail. The shortlisted teams should bring two hard copies of paper and
PPT on the day of the event during Moments.
The shortlisted candidates will be informed about the further round details
Prize money for the winners: Rs.9,000/-<br>
<h5>Format for the Abstract:</h5>
<a href="https://drive.google.com/file/d/1lUXIEDHBVJfS39T77XduiREjPGV3cs_w/view" target="_blank">Click Here</a>
<br><br><br>

								<h5>Timings : </h5>
								16/10/2019: 5PM<br>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalCenterTitle">TRUSS IT</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<h5>Event description:</h5>
									 <br>
									 Let the doors to creativity and innovation open as each of the teams (with a maximum of 3 contestants) will be provided with materials as simple as ice-cream sticks and threads to design a truss which withstands the assigned target load. The top three teams exhibiting ingenuity along with incorporating a deep sense of  technical knowledge shall be awarded.
									<br>
									<h5>Format:</h5>
									1)Participants have to collect the Truss it kits at the PR desk on October 20 th
                                       8am onwards.<br>
									2)Participants have to prepare a Truss bridge only using given kit and have
									   to submit them within the given time.<br>
									<h5>Specifications:</h5>
									1. Any technology can be used, the participant is requested to explain about the technology to the judges elaborately.<br>
									2. Points to be covered are innovation used, feasibility and usability of your creation.<br>
									3. Maximum members per team: 3<br>
									<br>
									<b>Cash Prize - Rs.5000/-</b>
									<br>
									<br>
									<h5>Judging Criteria:</h5>
									Your model will be adjudged on the following criteria
									1. Design, stability and aesthetic appeal.<br>
									2. Efficiency and effective usage of materials.<br>
									3. Loads taken by the truss bridge.<br>
									<h5>Rules:</h5>
									1) Each team can have maximum of 3 members.<br>
									2)Only given materials should be used for making truss.<br>
									3) Model should be submitted within the prescribed time.<br>
									<h5>Timings : </h5>
									Collect the kit (ice cream sticks) from the PR desk from 8:00AM onwards
                                    (20/10/19)<br>
                                    DEAD LINE for submitting the truss bridge - 20 th October, 3:30 pm.
								</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
                <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalCenterTitle">TECH MARATHON</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<div class="modal-body">
										  <h5>Event description:</h5>
										  Come join us in this wobbling online quiz and have an intriguing chance to win a free workshop as we kickstart this year's edition of Moments. Tech marathon event is  conducted prior to MOMENTS, where all you have to do is answer easy questions in time and walk away with a free workshop (with free accommodation!). Link for the online quiz will be send to the mail/whatsapp of the registered candidates on oct 13th. The link will be active from 5:30 PM to 6:00 PM.
                                          Groovy goodies awaits for the top 5 contestants! Quick grab this opportunity and register NOW!
										  <!-- <h5>Format:</h5>
										  Level 1: Written quiz (comprising of both Structural and Non structural)
										  <br>
										  Level 2: Six teams who have secured the highest marks in Level 1 will qualify for Level 2 and they will acquire a chance to exhibit their proficiency in the field of civil engineering through six rounds of on stage quizzing.
										  After 6 rounds of strenuous quizzing, teams retaining the top three positions will  be awarded.
										  <br/>
										  <br>
										  <b>Cash Prize - Rs.6000/-</b>
										  <br>
										  <br>
										  <h5>Rules:</h5>
										  1. Each team can consist of maximum 2 members.<br>
										  2. Calculators will be allowed only in the final round.<br>
										  3. All tasks must be completed in specified time.<br>
										  <h5>Judging criteria:</h5>
												  1. Accuracy and Proper answers.<br/>
												  2. Proper representation of solutions.<br/>
												  3. In case of tie the preliminary round scores will also be taken into account.<br/> -->
										  <h5>Timings : </h5>
										  Link for the online quiz will be send to the mail/whatsapp of the registered candidates on oct 13th<br>
										  The link will be active from: 
										  8:30Pm to 9:00pm<br>
											  </div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					  </div>
			  
		<% include partials/footer.ejs %>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="js/modal_link.js"></script>
	</body>
</html>
