<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="moments.png" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="css/home.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<div class="row" id="welcome">
			<img src="img/moments logo site.png" id="logo-welcome">
		</div>

		<div id="about" class="fluid-container">
			<div class="head">ABOUT</div>
			<div class="desc">
				Moments is the annual civil engineering symposium of NIT Trichy. With a multitude of events and workshops, it offers a platform for budding engineers to showcase their potential and explore the latest dimensions with eminent academicians and industrial experts. This year with the theme "Sustainability" Moments is all set for another expedition around the world of latest technology and engineering.
			</div>
		</div>

		<div class="fluid-container" id="members">
			<div class="fluid-container" id="mem-title">
				MOMENTS CORE 2020-2021
			</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-6 col-lg-3 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/President- Dr. G Swaminathan.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Dr. G Swaminathan
					</div>
					<div class="mem-desig">
						President
					</div>
				</div>
				<div class="col-6  col-lg-3 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Faculty Advisor - Dr. Jeevan Joseph.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Dr. Jeevan Joseph
					</div>
					<div class="mem-desig">
						Faculty Advisor
					</div>
				</div>
				<div class="col-lg-3"></div>
			</div>
			<div class="row">
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Chairperson- Navya.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Navya
					</div>
					<div class="mem-desig">
						Chairperson
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="moments21-core-pictures/OverAll Coordinator-Goutham.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Goutham 
						</div>
						<div class="mem-desig">
							Overall Co-ordinator
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="moments21-core-pictures/Treasurer-Sai Ethihas.jpg" class="members-img d-flex justify-content-center" >
						</div>
						<div class="mem-name">
							Sai Ethihas
						</div>
						<div class="mem-desig">
							Treasurer
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="moments21-core-pictures/Joint Secretary - Sudharsan Rathna Kumar.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Sudharsan Rathna Kumar
						</div>
						<div class="mem-desig">
						Joint Secretary
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Vice Chaiman-Rakhshan.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Rakhshan
					</div>
					<div class="mem-desig">
					Vice Chairman
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="moments21-core-pictures/Joint treasurer - Siddardha.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Siddardha
						</div>
						<div class="mem-desig">
						Joint Treasurer
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Head Workshops-Neeraj.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Neeraj
					</div>
					<div class="mem-desig">
					Workshops Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="moments21-core-pictures/Head workshops-uday.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
								Uday
						</div>
						<div class="mem-desig">
						Workshops Head
						</div>
					</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Head Events- Kumaresan.jpg" class=" members-img d-flex justify-content-center" style="overflow: hidden" >
					</div>
					<div class="mem-name">
						Kumarersan
					</div>
					<div class="mem-desig">
					Events Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Head Events-Pavan Kumar.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Pavan Kumar
					</div>
					<div class="mem-desig">
					Events Head
					</div>
				</div>
<!--				<div class="col-4 col-md-3 col-lg-2 member">-->
<!--						<div class="fluid-container">-->
<!--							<img src="members/manikanta.jpeg" class="members-img d-flex justify-content-center">-->
<!--						</div>-->
<!--						<div class="mem-name">-->
<!--							Manikanta-->
<!--						</div>-->
<!--						<div class="mem-desig">-->
<!--						Events Advisor-->
<!--						</div>-->
<!--					</div>-->
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Head PR _ Hospi-Bharadwaj.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Bharadwaj
					</div>
					<div class="mem-desig">
					Public Relations Head
					</div>
				</div>
<!--				<div class="col-4 col-md-3 col-lg-2 member">-->
<!--					<div class="fluid-container">-->
<!--						<img src="members/Yamini Head K. pg" class="members-img d-flex justify-content-center">-->
<!--					</div>-->
<!--					<div class="mem-name">-->
<!--						Yamini-->
<!--					</div>-->
<!--					<div class="mem-desig">-->
<!--						Public Relations Head-->
<!--					</div>-->
<!--				</div>-->
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Head Marketing _ Co-Head Guest Lectures-Lalanya.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Lalanya
					</div>
					<div class="mem-desig">
						Marketing Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="moments21-core-pictures/Head Marketing-VidhyaSagar V.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							VidhyaSagar V
						</div>
						<div class="mem-desig">
						Marketing Head
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="moments21-core-pictures/Head Webops - Kumaran.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Kumaran
						</div>
						<div class="mem-desig">
						Webops Head
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Head Design - Abhishek.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Abhishek
					</div>
					<div class="mem-desig">
					Design Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Head Guest Lectures-Nilesh Gope.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Nilesh Gope
					</div>
					<div class="mem-desig">
						Guest Lecture Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Head Organizing committee-Ezhil .jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Ezhil
					</div>
					<div class="mem-desig">
					Organising Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Head Organizing Committee-Merciidus.jpeg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Merciidus
					</div>
					<div class="mem-desig">
					Organising Head
					</div>
				</div>
<!--				<div class="col-4 col-md-3 col-lg-2 member">-->
<!--					<div class="fluid-container">-->
<!--						<img src="members/Shankar Ganesh.jpg" class="members-img d-flex justify-content-center">-->
<!--					</div>-->
<!--					<div class="mem-name">-->
<!--						Shankar Ganesh-->
<!--					</div>-->
<!--					<div class="mem-desig">-->
<!--					Organising Head-->
<!--					</div>-->
<!--				</div>-->
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="moments21-core-pictures/Head Publicity-Manoah Johnson A S.jpeg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Manoah Johnson A S
						</div>
						<div class="mem-desig">
						Publicity Head
						</div>
					</div>
					<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="moments21-core-pictures/Head Publicity-Prathiksha R.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Prathiksha R
						</div>
						<div class="mem-desig">
						Publicity Head
						</div>
					</div>
	
<!--					<div class="col-4 col-md-3 col-lg-2 member">-->
<!--						<div class="fluid-container">-->
<!--							<img src="members/krishna Bharat.jpg" class="members-img d-flex justify-content-center">-->
<!--						</div>-->
<!--						<div class="mem-name">-->
<!--							krishna Bharat-->
<!--						</div>-->
<!--						<div class="mem-desig">-->
<!--						Quality Assurance Head-->
<!--						</div>-->
<!--					</div>	-->
					<div class="col-4 col-md-3 col-lg-2 member">
							<div class="fluid-container">
								<img src="moments21-core-pictures/Head Content-Trishla.jpg" class="members-img d-flex justify-content-center">
							</div>
							<div class="mem-name">
								Trishla
							</div>
							<div class="mem-desig">
							Content Head
							</div>
						</div>
<!--						<div class="col-4 col-md-3 col-lg-2 member">-->
<!--							<div class="fluid-container">-->
<!--								<img src="members/Srinivas .jpg" class="members-img d-flex justify-content-center">-->
<!--							</div>-->
<!--							<div class="mem-name">-->
<!--								Srinivas-->
<!--							</div>-->
<!--							<div class="mem-desig">-->
<!--							Content Head-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-4 col-md-3 col-lg-2 member">-->
<!--							<div class="fluid-container">-->
<!--								<img src="members/Nandini Head.jpg" class="members-img d-flex justify-content-center">-->
<!--							</div>-->
<!--							<div class="mem-name">-->
<!--								Nandini-->
<!--							</div>-->
<!--							<div class="mem-desig">-->
<!--							Ambience Head-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-4 col-md-3 col-lg-2 member">-->
<!--							<div class="fluid-container">-->
<!--								<img src="members/Vishnu Anil Kumar .JPG" class="members-img d-flex justify-content-center" style="transform:rotate(270deg)">-->
<!--							</div>-->
<!--							<div class="mem-name">-->
<!--								Vishnu Anil kumar-->
<!--							</div>-->
<!--							<div class="mem-desig">-->
<!--							Ambience Head-->
<!--							</div>-->
<!--					</div>-->
<!--					<div class="col-4 col-md-3 col-lg-2 member">-->
<!--							<div class="fluid-container">-->
<!--								<img src="members/Sri Datta.jpg" class="members-img d-flex justify-content-center">-->
<!--							</div>-->
<!--							<div class="mem-name">-->
<!--									Sri Datta-->
<!--							</div>-->
<!--							<div class="mem-desig">-->
<!--							Workshops Co Head-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-4 col-md-3 col-lg-2 member">-->
<!--							<div class="fluid-container">-->
<!--								<img src="members/Goutham.jpg" class="members-img d-flex justify-content-center">-->
<!--							</div>-->
<!--							<div class="mem-name">-->
<!--								Goutham-->
<!--							</div>-->
<!--							<div class="mem-desig">-->
<!--							Workshops Co Head-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-4 col-md-3 col-lg-2 member">-->
<!--							<div class="fluid-container">-->
<!--								<img src="members/asish.jpg" class="members-img d-flex justify-content-center">-->
<!--							</div>-->
<!--							<div class="mem-name">-->
<!--									Asish-->
<!--							</div>-->
<!--							<div class="mem-desig">-->
<!--							Workshops Co Head-->
<!--							</div>-->
<!--						</div>-->
						<div class="col-4 col-md-3 col-lg-2 member">
								<div class="fluid-container">
									<img src="moments21-core-pictures/Co Head Events - Bhargavi.jpg" class="members-img d-flex justify-content-center">
								</div>
								<div class="mem-name">
										Bhargavi
								</div>
								<div class="mem-desig">
								Events Co Head
								</div>
							</div>
							<div class="col-4 col-md-3 col-lg-2 member">
								<div class="fluid-container">
									<img src="moments21-core-pictures/Co-Head Events-Hardhik.jpg" class="members-img d-flex justify-content-center">
								</div>
								<div class="mem-name">
										Hardhik
								</div>
								<div class="mem-desig">
								Events Co Head
								</div>
							</div>
							<div class="col-4 col-md-3 col-lg-2 member">
								<div class="fluid-container">
									<img src="moments21-core-pictures/Co-Head Events-Karthik.jpg" class="members-img d-flex justify-content-center">
								</div>
								<div class="mem-name">
									Karthik
								</div>
								<div class="mem-desig">
									Events Co Head
								</div>
							</div>

				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Co-Head Content- Shimrith.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Shimrith
					</div>
					<div class="mem-desig">
						Content Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Co-Head PR _ Hospi-Aparna.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Aparna
					</div>
					<div class="mem-desig">
					Public Relations Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Co-Head PR _ Hospi-Narasimha.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Narasimha
					</div>
					<div class="mem-desig">
						Public Relations Co Head 
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="moments21-core-pictures/Co-Head PR _ Hospi-Rakesh.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Rakesh
					</div>
					<div class="mem-desig">
						Public Relations Co Head
					</div>
				</div>
<!--				<div class="col-4 col-md-3 col-lg-2 member">-->
<!--						<div class="fluid-container">-->
<!--							<img src="members/Ashish (CoHead)_.jpg" class="members-img d-flex justify-content-center">-->
<!--						</div>-->
<!--						<div class="mem-name">-->
<!--							Ashish -->
<!--						</div>-->
<!--						<div class="mem-desig">-->
<!--						Marketing Co Head-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-4 col-md-3 col-lg-2 member">-->
<!--						<div class="fluid-container">-->
<!--							<img src="members/Noel John.jpg" class="members-img d-flex justify-content-center">-->
<!--						</div>-->
<!--						<div class="mem-name">-->
<!--							Noel John -->
<!--						</div>-->
<!--						<div class="mem-desig">-->
<!--						Marketing Co Head-->
<!--						</div>-->
<!--					</div>-->
<!--				<div class="col-4 col-md-3 col-lg-2 member">-->
<!--					<div class="fluid-container">-->
<!--						<img src="members/Kumaran Co head jpg.jpg" class="members-img d-flex justify-content-center">-->
<!--					</div>-->
<!--					<div class="mem-name">-->
<!--						Kumaran-->
<!--					</div>-->
<!--					<div class="mem-desig">-->
<!--						Webops Co Head-->
<!--					</div>-->
<!--				</div>-->
			</div>
		</div>

		<% include partials/footer.ejs %>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="js/home.js"></script>
	</body>
</html>
