<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="moments.png" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="css/home.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<div class="row" id="welcome">
			<img src="img/moments logo site.png" id="logo-welcome">
		</div>

		<div id="about" class="fluid-container">
			<div class="head">ABOUT</div>
			<div class="desc">
				Moments is the annual civil engineering symposium of NIT Trichy. With a multitude of events, workshops and guest lecture series, it offers a platform for budding  engineers to showcase their potential and explore the latest dimensions with eminent academicians and industrial experts. This year with the theme "REJUVENATE" Moments is all set for another expedition around the world of latest technology and engineering.
			</div>
		</div>

		<div class="fluid-container" id="members">
			<div class="fluid-container" id="mem-title">
				MOMENTS CORE 2019-2020
			</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-6 col-lg-3 member">
					<div class="fluid-container">
						<img src="members/drbaskar.jpeg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Dr.K.Baskar
					</div>
					<div class="mem-desig">
						HOD
					</div>
				</div>
				<div class="col-6  col-lg-3 member">
					<div class="fluid-container">
						<img src="members/Drdeendayal.jpeg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Dr.Deendayal Rathod
					</div>
					<div class="mem-desig">
						Faculty Advisor
					</div>
				</div>
				<div class="col-lg-3"></div>
			</div>
			<div class="row">
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/kartikeya.JPG" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						kartikeya
					</div>
					<div class="mem-desig">
						Chairman
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Overall Coordinator Anudeep K.JPG" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Anudeep K
						</div>
						<div class="mem-desig">
							Overall Co-ordinator
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Treasurer - Sandesh.jpg" class="members-img d-flex justify-content-center"  style="transform:rotate(270deg)">
						</div>
						<div class="mem-name">
						  Sandesh
						</div>
						<div class="mem-desig">
							Treasurer
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/General Secretary-Pavan Reshmanth.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Pavan Reshmanth
						</div>
						<div class="mem-desig">
						General Secretary
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Vice Chairman - Trishla.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Trishla
					</div>
					<div class="mem-desig">
					Vice Chairman
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Joint treasurer - Rahul.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Rahul
						</div>
						<div class="mem-desig">
						Joint Treasurer
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Goutham.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
							Goutham
					</div>
					<div class="mem-desig">
					Workshops Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Monika.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
								Monika
						</div>
						<div class="mem-desig">
						Workshops Head
						</div>
					</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Chandana.jpg" class="members-img d-flex justify-content-center" style="transform:rotate(90deg)">
					</div>
					<div class="mem-name">
						Chandana
					</div>
					<div class="mem-desig">
					Events Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Hanish.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Hanish
					</div>
					<div class="mem-desig">
					Events Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/manikanta.jpeg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Manikanta
						</div>
						<div class="mem-desig">
						Events Advisor
						</div>
					</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Shrawan head.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Shrawan 
					</div>
					<div class="mem-desig">
					Public Relations Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Yamini Head K. pg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Yamini
					</div>
					<div class="mem-desig">
						Public Relations Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Roshan (Head.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Roshan 
						</div>
						<div class="mem-desig">
						Marketing Head
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/avinash.jpeg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Avinash 
						</div>
						<div class="mem-desig">
						Marketing Head
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Tanvi (Head) .JPG" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Tanvi
						</div>
						<div class="mem-desig">
						Marketing & Webops Head
						</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Bandi Uday.JPG" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Bandi Uday
					</div>
					<div class="mem-desig">
					Organising Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Godwin.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Godwin
					</div>
					<div class="mem-desig">
					Organising Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Shankar Ganesh.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Shankar Ganesh
					</div>
					<div class="mem-desig">
					Organising Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Sanjay .jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Sanjay
						</div>
						<div class="mem-desig">
						Publicity Head
						</div>
					</div>
					<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Vijay .JPG" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Vijay 
						</div>
						<div class="mem-desig">
						Publicity Head
						</div>
					</div>
	
					<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/krishna Bharat.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							krishna Bharat
						</div>
						<div class="mem-desig">
						Quality Assurance Head
						</div>
					</div>	
					<div class="col-4 col-md-3 col-lg-2 member">
							<div class="fluid-container">
								<img src="members/Deepak kumar.jpg" class="members-img d-flex justify-content-center">
							</div>
							<div class="mem-name">
								Deepak kumar
							</div>
							<div class="mem-desig">
							Content Head
							</div>
						</div>
						<div class="col-4 col-md-3 col-lg-2 member">
							<div class="fluid-container">
								<img src="members/Srinivas .jpg" class="members-img d-flex justify-content-center">
							</div>
							<div class="mem-name">
								Srinivas
							</div>
							<div class="mem-desig">
							Content Head
							</div>
						</div>
						<div class="col-4 col-md-3 col-lg-2 member">
							<div class="fluid-container">
								<img src="members/Nandini Head.jpg" class="members-img d-flex justify-content-center">
							</div>
							<div class="mem-name">
								Nandini
							</div>
							<div class="mem-desig">
							Ambience Head
							</div>
						</div>
						<div class="col-4 col-md-3 col-lg-2 member">
							<div class="fluid-container">
								<img src="members/Vishnu Anil Kumar .JPG" class="members-img d-flex justify-content-center" style="transform:rotate(270deg)">
							</div>
							<div class="mem-name">
								Vishnu Anil kumar
							</div>
							<div class="mem-desig">
							Ambience Head
							</div>
					</div>
					<div class="col-4 col-md-3 col-lg-2 member">
							<div class="fluid-container">
								<img src="members/Sri Datta.jpg" class="members-img d-flex justify-content-center">
							</div>
							<div class="mem-name">
									Sri Datta
							</div>
							<div class="mem-desig">
							Workshops Co Head
							</div>
						</div>
						<div class="col-4 col-md-3 col-lg-2 member">
							<div class="fluid-container">
								<img src="members/Suraj.jpeg" class="members-img d-flex justify-content-center">
							</div>
							<div class="mem-name">
									Suraj
							</div>
							<div class="mem-desig">
							Workshops Co Head
							</div>
						</div>
						<div class="col-4 col-md-3 col-lg-2 member">
								<div class="fluid-container">
									<img src="members/Kumaresan.jpg" class="members-img d-flex justify-content-center">
								</div>
								<div class="mem-name">
										Kumaresan
								</div>
								<div class="mem-desig">
								Events Co Head
								</div>
							</div>
							<div class="col-4 col-md-3 col-lg-2 member">
								<div class="fluid-container">
									<img src="members/Pavan.jpg" class="members-img d-flex justify-content-center">
								</div>
								<div class="mem-name">
										Pavan
								</div>
								<div class="mem-desig">
								Events Co Head
								</div>
							</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Sai Ethihas .jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Sai Ethihas
					</div>
					<div class="mem-desig">
					Public Relations Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Bharadwaj.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Bharadwaj
					</div>
					<div class="mem-desig">
						Public Relations Co Head 
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Navya.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Navya 
					</div>
					<div class="mem-desig">
						Public Relations Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Vishnu Anil Kumar .JPG" class="members-img d-flex justify-content-center" style="transform:rotate(270deg)">
					</div>
					<div class="mem-name">
						Vishnu Anil kumar
					</div>
					<div class="mem-desig">
					Public Relations Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Ashish (CoHead)_.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Ashish 
						</div>
						<div class="mem-desig">
						Marketing Co Head
						</div>
					</div>
					<div class="col-4 col-md-3 col-lg-2 member">
						<div class="fluid-container">
							<img src="members/Noel John.jpg" class="members-img d-flex justify-content-center">
						</div>
						<div class="mem-name">
							Noel John 
						</div>
						<div class="mem-desig">
						Marketing Co Head
						</div>
					</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Kumaran Co head jpg.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Kumaran
					</div>
					<div class="mem-desig">
						Webops Co Head
					</div>
				</div>
			</div>
		</div>

		<% include partials/footer.ejs %>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="js/home.js"></script>
	</body>
</html>
