<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="moments.png" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="css/home.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<div class="row" id="welcome">
			<img src="moments_yellow.png" id="logo-welcome">
		</div>

		<div id="about" class="fluid-container">
			<div class="head">ABOUT</div>
			<div class="desc">
				Moments is the annual civil engineering symposium of NIT Trichy. With a multitude of events, workshops and guest lecture series, it offers a platform for budding  engineers to showcase their potential and explore the latest dimensions with eminent academicians and industrial experts. This year with the theme "TRANSFORMATION" Moments is all set for another expedition around the world of latest technology and engineering.
			</div>
		</div>

		<div class="fluid-container" id="members">
			<div class="fluid-container" id="mem-title">
				MOMENTS CORE 2018-2019
			</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-6 col-lg-3 member">
					<div class="fluid-container">
						<img src="members/drbaskar.jpeg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Dr.Baskar
					</div>
					<div class="mem-desig">
						HOD
					</div>
				</div>
				<div class="col-6  col-lg-3 member">
					<div class="fluid-container">
						<img src="members/Dr Deendayal Rathod(faculty advisor).png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Dr.Deendayal Rathod
					</div>
					<div class="mem-desig">
						Faculty Advisor
					</div>
				</div>
				<div class="col-lg-3"></div>
			</div>
			<div class="row">
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Mithil.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Mithil
					</div>
					<div class="mem-desig">
						Chairman
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Krishna Mohan.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Krishna Mohan
					</div>
					<div class="mem-desig">
						Overall Co-ordinator
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Kaushik.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Kaushik
					</div>
					<div class="mem-desig">
						Treasurer
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Karthikeyan.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Karthikeyan
					</div>
					<div class="mem-desig">
					General Secretary
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Nelson.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
					Nelson
					</div>
					<div class="mem-desig">
					Workshops Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Varshini.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
					Varshini
					</div>
					<div class="mem-desig">
					Events Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Jogi.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
					Jogi
					</div>
					<div class="mem-desig">
					Events Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Likhitha.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
					Likhitha
					</div>
					<div class="mem-desig">
					Public Relations Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Dhakshaayani.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Dhakshaayani
					</div>
					<div class="mem-desig">
						Public Relations Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Prabhakar.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Prabhakar
					</div>
					<div class="mem-desig">
					Vice Chairman
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Mukunth.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Mukunth
					</div>
					<div class="mem-desig">
					Joint Treasurer
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Karthikeya.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Karthikeya
					</div>
					<div class="mem-desig">
					Public Relations Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/yamini.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						K.Yamini
					</div>
					<div class="mem-desig">
						Public Relations Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Vivin.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Vivin
					</div>
					<div class="mem-desig">
						Public Relations Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Sandesh.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Sandesh
					</div>
					<div class="mem-desig">
					Workshops Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Suraj.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Suraj
					</div>
					<div class="mem-desig">
					Workshops Co Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Madhubalan.jpg" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Madhubalan
					</div>
					<div class="mem-desig">
					Publicity Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Cibi.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Cibi
					</div>
					<div class="mem-desig">
					Publicity Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Haripriya.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Haripriya
					</div>
					<div class="mem-desig">
					Publicity Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Monnish.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Monnish
					</div>
					<div class="mem-desig">
					Organising Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Malavika.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Malavika
					</div>
					<div class="mem-desig">
					Media Relations Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Keerthy.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Keerthy
					</div>
					<div class="mem-desig">
					Media Relations Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Tanvi.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Tanvi
					</div>
					<div class="mem-desig">
					Webops Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Riston.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Riston
					</div>
					<div class="mem-desig">
					Design Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Varshaa.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Varshaa
					</div>
					<div class="mem-desig">
					Content Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Meera.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Meera
					</div>
					<div class="mem-desig">
					Content Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Shrawan.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Shrawan
					</div>
					<div class="mem-desig">
					Ambience Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Anudeep.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Anudeep
					</div>
					<div class="mem-desig">
					Ambience Head
					</div>
				</div>
				<div class="col-4 col-md-3 col-lg-2 member">
					<div class="fluid-container">
						<img src="members/Dinesh.png" class="members-img d-flex justify-content-center">
					</div>
					<div class="mem-name">
						Dinesh
					</div>
					<div class="mem-desig">
					Marketing Head
					</div>
				</div>

			</div>
		</div>

		<% include partials/footer.ejs %>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="home.js"></script>
	</body>
</html>
