doctype html
html
  head
    block head
      title Template
      meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
      link(rel='stylesheet',href='/css/layout.css')
  body
    block content
    br
    script(src="/js/layout.js")



