<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="moments.png" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/sponsors.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
    <div id="about" class="fluid-container">
			<div class="head">Official Sponsors &amp; Partners</div>
			<div class="desc">
        <p>Check Who Makes This Event Possible!</p>
      </div>
		</div>
    <div class="container">
      <div class="sub-head">Media Partners</div>
      <div class="row">
        <div class="col-sm-0 col-md-1 col-lg-3"></div>
        <div class="col-sm-12 col-md-10 col-lg-6">
            <div class="card">
              <a href="http://festpav.com/">
                <img src="https://festpav.com/sprint/new_design/images/logo.png" alt="brand" class="card-img-top">
              </a>
              <div class="card-body">
                <p class="card-text text-center">
                  <a href="http://festpav.com/">festPav.com</a>
                </p>
              </div>
            </div>
        </div>
        <div class="col-sm-0 col-md-10 col-lg-3"></div>
      </div>
      <div class="sub-head">Marketing Partners</div>
      <div class="row">

        <div class="col-sm-12 col-md-4">
          <div class="card">
            <a href="https://www.oyorooms.com/">
              <img src="https://pbs.twimg.com/profile_images/892815429810257920/PZvIqqEj_400x400.jpg" alt="brand" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-text text-center">
                <a href="https://www.oyorooms.com/">Oyo Rooms</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <a href="https://www.ntpc.co.in/">
              <img src="https://www.ntpc.co.in/sites/all/themes/ntpc/images/ntpc-logo.svg" alt="brand" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-text text-center">
                <a href="https://www.ntpc.co.in/">NTPC</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <a href="https://www.wileyindia.com/">
              <img src="https://media.licdn.com/dms/image/C4D03AQGiir9sVR4h4g/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=-rUxlxRMcb142NVtxsa7fAsrzF-gcK1EFJgZeqXSM-8" alt="brand" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-text text-center">
                <a href="https://www.wileyindia.com/">Wiley</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <a href="https://www.uniqtechnologies.co.in/">
              <img src=" https://d1di7rhcpcc8g7.cloudfront.net/wp-content/uploads/2017/08/logo.png" alt="brand" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-text text-center">
                <a href="https://www.uniqtechnologies.co.in/">U.n.i.q</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <a href="http://www.cholayil.com/portfolio/medimix-soaps/">
              <img src="http://medimixusa.com/wp-content/uploads/medimix-logo.png" alt="brand" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-text text-center">
                <a href="http://www.cholayil.com/portfolio/medimix-soaps/">Medimix</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <a href=" http://www.pepsicoindia.co.in/">
              <img src="https://sso.mypepsico.com/login/images/pepsico.png" alt="brand" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-text text-center">
                <a href=" http://www.pepsicoindia.co.in/">PepsiCo</a>
              </p>
            </div>
          </div>
        </div>
    </div>
    </div>
    <% include partials/footer.ejs %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
