<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="css/workshops.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<div class="container" id="w-content">
			<div class="row">
				<div class="col-md-5 w-card card">
					<img src="sample.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">Conditional Assessment of Buildings</div>
						<div class="card-subtitle">Dr.C.Natarajan</div>
						<div class="card-subtitle">Professor,</div>
						<div class="card-subtitle">Department of Civil Engineering, NIT Trichy</div>
						<div class="card-text">
							Do you want to get more experience on real time problems in constructions and in the assessment of the buildings? Here’s your chance to grab the opportunity by learning Conditional Assessment of Buildings. It provides building deficiency information and forecasts possible future maintenance or repair requirements of a building. This includes procedure used for assessing the structural condition of existing structures and cover as many aspects of evaluating structures and structural materials conditions as possible and state of art information on visual inspection, destructive and non-destructive testing. Don’t miss out and register for the Conditional Assessment of Buildings
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal1">view more</button>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-5 w-card card">
					<img src="sample.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">Analysis of Accidents using SPS Software</div>
						<div class="card-subtitle">Dr.Marisamynathan</div>
						<div class="card-subtitle">Assistant Professor,</div>
						<div class="card-subtitle">Department of Civil Engineering, NIT Trichy</div>
						<div class="card-text">
							Want to know more about accidents and its analysis? Want to gain knowledge on the SPS Software? Here’s your chance to get the apex by learning Analysis of Accidents using SPS Software. This includes Determination of accident trends and its status and to identify most hazardous road and developing regression model. The information from news media was considered as one of the core database. Analyzing the accident data and developing the regression model related to it. Using the modelling, we may determine the solutions for the real time problems regarding traffic engineering. Don’t miss out and register now for the “Analysis of Accidents using SPS Software”
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal2">view more</button>
				</div>

			</div>
			<div class="row">
				<div class="col-md-5 w-card card">
					<img src="sample.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">Advanced Computations in Civil Engineering</div>
						<div class="card-text">
							Do you want to know about machine learning, data driven approach, data collection and preparation using the advanced computations? Want to increase your knowledge in mathematics and learn more about neural networks? Here’s your chance to grab the opportunity by learning Advanced computations in Civil Engineering. This includes the application of neural networks for solving complex civil engineering problems is of huge importance in the construction design process. They can be successfully used for prognostic modelling in different engineering fields, especially in those cases where numerical or experimental analyses were already made. Don’t miss out and register for the advanced computations in civil engineering
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal3">view more</button>
				</div>

				<div class="col-md-2"></div>
				<div class="col-md-5 w-card card">
					<img src="sample.png" class="card-img-top" alt="">
					<div class="fluid-container w-desc">
						<div class="card-title">Construction Project Management using Primavera</div>
						<div class="card-subtitle">Dr. Deepak Muniraj</div>
						<div class="card-subtitle">Shoba Constructions Limited</div>
						<div class="card-text">
							Want to make it big in the Civil Industry? Here's your chance to achieve the apex by learning Construction Project Management with the very best of softwares out there 'Primavera'. Learn to effectively manage time, costs, resources, contracts, and changes on in a single platform. Get timely, accurate data for optimum decision-making. Access information any time, anywhere with Primavera. Hone your skills to respond in real time to changing conditions. Get insights on how to track and evaluate subcontractor performance. Explore about the best practices out there and improve overall operational efficiency. Don't miss out and register now for the 'Primavera with Construction Project Management' Workshop.
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal4">view more</button>
				</div>

			</div>
		</div>

		<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Conditional Assessment of Buildings</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-subtitle">
		      	<div>Dr.C.Natarajan</div>
		        <div>Professor,</div>
		        <div>Department of Civil Engineering, NIT Trichy</div>
		      </div>
		      <div class="modal-body">
		    	Do you want to get more experience on real time problems in constructions and in the assessment of the buildings? Here’s your chance to grab the opportunity by learning Conditional Assessment of Buildings. It provides building deficiency information and forecasts possible future maintenance or repair requirements of a building. This includes procedure used for assessing the structural condition of existing structures and cover as many aspects of evaluating structures and structural materials conditions as possible and state of art information on visual inspection, destructive and non-destructive testing. Don’t miss out and register for the Conditional Assessment of Buildings
		    	<br>
		    	<br>
		    	Workshop Rate : 400 per person
		    	<br>
		    	Workshop dates : October 5 to October 7
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Analysis of Accidents using SPS Software</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-subtitle">
		      	<div>Dr.Marisamynathan</div>
		        <div>Assistant Professor,</div>
		        <div>Department of Civil Engineering, NIT Trichy</div>
		      </div>
		      <div class="modal-body">
		    	Want to know more about accidents and its analysis? Want to gain knowledge on the SPS Software? Here’s your chance to get the apex by learning Analysis of Accidents using SPS Software. This includes Determination of accident trends and its status and to identify most hazardous road and developing regression model. The information from news media was considered as one of the core database. Analyzing the accident data and developing the regression model related to it. Using the modelling, we may determine the solutions for the real time problems regarding traffic engineering. Don’t miss out and register now for the “Analysis of Accidents using SPS Software”
		    	<br>
		    	<br>
		    	Workshop Rate : 400 per person
		    	<br>
		    	Workshop dates : October 5 to October 7
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Advanced Computations in Civil Engineering</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		    	Do you want to know about machine learning, data driven approach, data collection and preparation using the advanced computations? Want to increase your knowledge in mathematics and learn more about neural networks? Here’s your chance to grab the opportunity by learning Advanced computations in Civil Engineering. This includes the application of neural networks for solving complex civil engineering problems is of huge importance in the construction design process. They can be successfully used for prognostic modelling in different engineering fields, especially in those cases where numerical or experimental analyses were already made. Don’t miss out and register for the advanced computations in civil engineering
		    	<br>
		    	<br>
		    	Workshop Rate : 400 per person
		    	<br>
		    	Workshop dates : October 5 to October 7
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Construction Project Management using Primavera</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-subtitle">
		      	<div>Dr. Deepak Muniraj</div>
		        <div>Shoba Constructions Limited</div>
		      </div>
		      <div class="modal-body">
		    	Want to make it big in the Civil Industry? Here's your chance to achieve the apex by learning Construction Project Management with the very best of softwares out there 'Primavera'. Learn to effectively manage time, costs, resources, contracts, and changes on in a single platform. Get timely, accurate data for optimum decision-making. Access information any time, anywhere with Primavera. Hone your skills to respond in real time to changing conditions. Get insights on how to track and evaluate subcontractor performance. Explore about the best practices out there and improve overall operational efficiency. Don't miss out and register now for the 'Primavera with Construction Project Management' Workshop.
		    	<br>
		    	<br>
		    	Workshop Rate : 400 per person
		    	<br>
		    	Workshop dates : October 5 to October 7
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<% include partials/footer.ejs %>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="modal_link.js"></script>
	</body>
</html>
