<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="moments.png" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="css/workshops.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<div class="container" id="w-content">
			<div class="register">
				<a target = "_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdna-Dj4p3YkJ_bwCh63bng38QAzqCfCnWVE1yemN4ZpGD8gA/viewform?usp=sf_link" class="btn btn-dark btn-lg">Register Here</a>
			</div>
			<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-4 w-card card">
						<img src="img/ws4.jpeg" class="card-img-top" alt="">
						<div class="fluid-container w-desc"  data-toggle="modal" data-target="#modal4">
							<div class="card-title">Semi Lightweight Concrete</div>
							<div class="card-subtitle">Dr. J. Karthikeyan</div>
							<div class="card-subtitle"> Associate Professor<br>Department of Civil Engineering<br>NIT Trichy</div>
							<div class="card-text">
								Are you a civil enthusiast who is fascinated by the towering buildings and breathtaking monuments around you ?Ever thought about how to construct better fire proof buildings with less deadweight on the structure? Fret not. Moments 19' brings you an exclusive workshop on Semi lightweight wood Ash aggregate concrete. You will start with the fundamentals of semi-lightweight concrete and its material aspects and your learning curve keeps going up as you get to know about how to make a proper mix design with it. 
							</div>
						</div>
						<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal4">view more</button>
					</div>
					<!-- <div class="col-md-1"></div> -->

				
				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="img/ws2.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc"  data-toggle="modal" data-target="#modal2">
						<div class="card-title">FORENSIC ANALYSIS OF GEOTECHNICAL ENGINEERING</div>
						<div class="card-subtitle"> Dr.Muthukumaran</div>
						<div class="card-subtitle">Professor,</div> 
						<div class="card-subtitle">Department of Civil Engineering<br>NIT Trichy</div>
						<div class="card-text">
							Take a break from the normal classes and dive deep into the profound subject of Geotechnical Instrumentation, where Failure Analysis of Geotechnical Structures will be taught by the amusingly witty Dr. K. Muthukumaran. Gear up and grab your tickets to this stimulating workshop where he discusses in-depth details of Field monitoring for foundation settlements and construction qualities of foundation coupled with the field performance based on GeoTechnical Instrumentation.
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal2">view more</button>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				
					<div class="col-md-1"></div>
					<div class="col-md-4 w-card card">
						<img src="img/ws1.jpeg" class="card-img-top" alt="">
						<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal1">
							<div class="card-title">FLEXIBLE PAVEMENT DESIGN</div>
							<div class="card-subtitle">Dr.V.Sunitha</div>
							<div class="card-subtitle">Assistant Professor,</div>
							<div class="card-subtitle">Department of Civil Engineering<br>NIT Trichy</div>
							<div class="card-text">
								Design of pavements has been based only on experience and judgment in the past. But now, the design methodology has taken rapid strides towards rationality in the past few decades based on an understanding of the stresses and strains in the layers constituting the pavement. Application of the concept of reliability in achieving the desired level of service during the pavement’s design life has also contributed in making durable and long-lasting pavements
							</div>
						</div>
						<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal1">view more</button>
					</div>


				<div class="col-md-2"></div>
				<div class="col-md-4 w-card card">
					<img src="img/ws3.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal3">
						<div class="card-title">RECENT DEVELOPMENTS IN STEEL CCONSTRUCTIONS</div>
						<div class="card-subtitle"> Dr.K.Baskar</div>
						<div class="card-subtitle">Professor</div> 
						<div class="card-subtitle">Department of Civil Engineering<br>NIT Trichy</div>
						<div class="card-text">
							In the present scenario, the ever increasing demand of modern buildings results in need of more column space, tall structures, ductile and faster construction time. Structures built with RCC do not provide such features and lack the ability to last for hundreds of years. Structural steel structures are becoming popular due to their superior ductile strength, load bearing capacity and sleek structural members.
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal3">view more</button>
				</div>
				<div class="col-md-1"></div>

			</div>
			<div class="row">
				<div class="col-6 col-md-4"></div>
				<div class="col-6 col-md-4 w-card card">
					<img src="img/ws5.jpg" class="card-img-top" alt="">
					<div class="fluid-container w-desc" data-toggle="modal" data-target="#modal5">
						<div class="card-title">STAAD PRO</div>
						<div class="card-subtitle"> Dr. Premalatha</div>
						<div class="card-subtitle"> Professor & HOD, Civil engineering<br>CARE group of institutions</div>
						<div class="card-text">
							Ever wondered how engineers are able to design structures,be it steel, timber, concrete or aluminium, on time and in budget, regardless of complexity? Developed by Research Engineers International in 1997, STAAD software is a well known digital platform for conducting structural analysis and design of projects for civil engineers. Moments’19 presents an exclusive workshop on STAAD software where Dr. Premalatha would be giving a detailed mentoring all the way through!
							<br>Perform comprehensive analysis and design for any size or type of structure faster than ever before using the new STAAD.Pro CONNECT Edition. Simplify your BIM workflow by using a physical model in STAAD.Pro that is automatically converted into the analytical model for your structural analysis. Share synchronized models with confidence for multi-discipline team collaboration and, most importantly, deliver safe, cost-effective designs.								
						</div>
					</div>
					<button type="button" class="btn btn-link view-more" data-toggle="modal" data-target="#modal3">view more</button>
				</div>
		</div>
		<div class="col-6 col-md-4"></div>
	</div>
		</div>

		<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">FLEXIBLE PAVEMENT DESIGN</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-subtitle">
		      	<div>Dr.V.Sunitha</div>
		        <div>Assistant Professor</div>
		        <div>Department of Civil Engineering<br>NIT Trichy</div>
		      </div>
		      <div class="modal-body">
		    	Design of pavements has been based only on experience and judgment in the past. But now, the design methodology has taken rapid strides towards rationality in the past few decades based on an understanding of the stresses and strains in the layers constituting the pavement. Application of the concept of reliability in achieving the desired level of service during the pavement’s design life has also contributed in making durable and long-lasting pavements.
				<br>
				A huge shoutout to all the Transportation enthusiasts out there to attend this mind-boggling workshop which will make you an expert in designing a Flexible pavement using the Latest IITPave software and alternate aggregate testing methods conforming to<br>IRC 37:2018.<br>
				<div>
						Workshop rate : 350/-
						<h5>Timing:</h5>
						20th Oct,sunday morning<br>
						Duration: 3 hours
				</div>  
			</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Forensic Analysis Of GeoTechnical Engineering</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-subtitle">
				  <div>By Dr.Muthukumaran</div>
				  <div>Professor</div>
		          <div>Department of Civil Engineering<br>NIT Trichy</div>
		      </div>
		      <div class="modal-body">
				Take a break from the normal classes and dive deep into the profound subject of Geotechnical Instrumentation, where Failure Analysis of Geotechnical Structures will be taught by the amusingly witty Dr. K. Muthukumaran.
				<br>
				Gear up and grab your tickets to this stimulating workshop where he discusses in-depth details of Field monitoring for foundation settlements and construction qualities of foundation coupled with the field performance based on GeoTechnical Instrumentation.
				<br>
				<div>
						Workshop rate : 350/-
						<h5>Timing:</h5>
						19th Oct,saturday afternoon<br>
						Duration: 3 hours
				</div>
			  </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Recent Developments in Steel Constructions</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
			  </div>
			  <div class="modal-subtitle">
				<div>Dr.K.Baskar</div>
				<div>Professor</div>
				<div>Department of Civil Engineering<br>NIT Trichy</div>
			</div>
		      <div class="modal-body">
		        In the present scenario, the ever increasing demand of modern buildings results in need of more column space, tall structures, ductile and faster construction time. Structures built with RCC do not provide such features and lack the ability to last for hundreds of years. Structural steel structures are becoming popular due to their superior ductile strength, load bearing capacity and sleek structural members. 
				<br>
				Such systems are employed in residential, commercial, industrial and offshore structural engineering areas. Mark your calendars and be present at this titillating Steel construction workshop with Dr. K. Baskar, who will take you to a whole different dimension in this interesting domain.
				<div>
						Workshop rate : 350/-
						<h5>Timing:</h5>
						20th Oct,sunday afternoon
				</div>  
			</div>
			  
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Semi Lightweight Concrete</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-subtitle">
				  <div>Dr. J. Karthikeyan</div>
				  <div>Associate Professor</div>
				  <div>Department of Civil Engineering<br>NIT Trichy</div>
		      </div>
		      <div class="modal-body">
				Are you a civil enthusiast who is fascinated by the towering buildings and breathtaking monuments around you ?Ever thought about how to construct better fire proof buildings with less deadweight on the structure? Fret not. Moments 19' brings you an exclusive workshop on Semi lightweight wood Ash aggregate concrete. 
				<br>
				You will start with the fundamentals of semi-lightweight concrete and its material aspects and your learning curve keeps going up as you get to know about how to make a proper mix design with it. The application, difficulties and use cases on the field will also be addressed during this resourceful workshop by Dr. J. Karthikeyan. Don’t miss out on this opportunity and register right away!
				<div>
					    Workshop rate : 350/-
						<h5>Timing:</h5>
						19th Oct,saturday morning: 3-4 hrs 
				</div>  
			</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalCenterTitle">STAAD PRO</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-subtitle">
					<div>Dr. Premalatha</div>
					<div>Professor & HOD, Civil engineering</div>
					<div>CARE group of institutions </div>
				</div>
				<div class="modal-body">
					Ever wondered how engineers are able to design structures,be it steel, timber, concrete or aluminium, on time and in budget, regardless of complexity? Developed by Research Engineers International in 1997, STAAD software is a well known digital platform for conducting structural analysis and design of projects for civil engineers. Moments’19 presents an exclusive workshop on STAAD software where Dr. Premalatha would be giving a detailed mentoring all the way through!
					<br><br>Perform comprehensive analysis and design for any size or type of structure faster than ever before using the new STAAD.Pro CONNECT Edition. Simplify your BIM workflow by using a physical model in STAAD.Pro that is automatically converted into the analytical model for your structural analysis.							   
				  <br>
				  Share synchronized models with confidence for multi-discipline team collaboration and, most importantly, deliver safe, cost-effective designs.
				  <div>
						Workshop rate : 350/-
						<h5>Timing:</h5>
						20th Oct,sunday afternoon
				  </div>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		  </div>


		<% include partials/footer.ejs %>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="modal_link.js"></script>
	</body>
</html>
