body,html{
	overflow-x: hidden;
}

@font-face {
    font-family: custom_bold;
    src: url(tecnico_bold.ttf);
}

@font-face {
    font-family: custom_regular;
    src: url(tecnico_regular.ttf);
}

#nav_home{
	border-bottom: 4px solid #FFDE00;
}

#navbar{
	background: transparent !important;
	width: 100%;
	position: fixed;
	top: 0;
	box-shadow: none !important;
	height: 15vh !important;
	z-index: 2000;
	/*border: 1px solid yellow;*/
}


#welcome{
	background-image: url(bg1.jpeg);
	/*background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(background.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

#logo-welcome{
	width: 50vw;
	display: block;
	margin: 0 auto;
	align-self: center;

}

#about{
	background-color: #ffffff;
	min-height: 75vh;
}

#about .head{
	padding: 5vh;
	font-family: custom_bold;
	font-size: 3em;
	/*font-weight: bold;*/
	text-align: center;
}

#about .desc{
	font-family: custom_regular;
	padding: 6vw;
	padding-left: 12vw;
	padding-right: 12vw;
	font-size: 1.3em;
}

#members{
	background-color: #f8f9fa;
	min-height: 95vh;
}

.members-img{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

#members .row{
	margin-left: 2vw;
	margin-right: 2vw;
}

.member{
	margin-bottom: 4vh;
}

.mem-name{
	text-align: center;
	font-family: custom_bold;
	font-size: 1.3em;
	padding-top: 2vh;
}

.mem-desig{
	text-align: center;
	font-family: custom_regular;
}

#mem-title{
	text-align: center;
	font-family: custom_bold;
	font-size: 2.5em;
	padding-bottom: 7vh;
	padding-top: 15vh;
}


@media only screen and (max-width: 991px){
	#navbar{
		height: initial !important;
	}
	#logo-welcome{
		width: 80vw;
	}
}
